{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "notifications/base.html" %}
{% load i18n %}
{% load notifications %}
{% load users %}

{% block subtitle %} / {% trans "Notifications" %}{% endblock %}

{% block content %}

<div class="flex-wrap lg:flex items-center lg:justify-between mb-3">
  <h1 class="page-header">{% trans "Notifications" %}</h1>

  <div class="page-nav mt-3 lg:mt-0">
    {% if object_list %}
    {% if is_unread_notifications %}
    <a class="page-nav-item"
       href="{% url 'notifications:mark_all_read' %}"
       data-turbolinks="false"
       data-controller="ajax"
       data-action="ajax#post">{% trans "Mark All Read" %}</a>
    {% endif %}
    <a class="page-nav-item"
       href="{% url 'notifications:delete_all' %}"
       data-turbolinks="false"
       data-controller="ajax"
       data-action="ajax#post"
       data-ajax-confirm-header="{% trans 'Delete All' %}"
       data-ajax-confirm-body="{% trans 'Are you sure you want to delete all your notifications?' %}">{% trans "Delete All" %}</a>
    {% endif %}
    {% if webpush_settings.enabled %}
    <span class="page-nav-item hidden"
          data-controller="webpush"
          data-webpush-service-worker-url="{% url 'notifications:service_worker' %}"
          data-webpush-subscribe-url="{% url 'notifications:subscribe' %}"
          data-webpush-unsubscribe-url="{% url 'notifications:unsubscribe' %}"
          data-webpush-subscribe-message="{% trans "Browser notifications enabled" %}"
          data-webpush-unsubscribe-message="{% trans "Browser notifications disabled" %}"
          data-webpush-public-key="{{ webpush_settings.public_key }}">
      <a href="javascript:void(0)"
         data-target="webpush.subscribe"
         data-action="webpush#subscribe">
        {% trans "Enable Browser Notifications" %}
      </a>
      <a href="#"
         data-target="webpush.unsubscribe"
         data-action="webpush#unsubscribe">
        {% trans "Disable Browser Notifications" %}
      </a>
    </span>
    {% endif %}
  </div>
</div>

{% dismissable user "notifications-emails" %}
{% url 'user_update' as user_settings_url %}
{% blocktrans %}
You can enable emails for your notifications
<a href="{{ user_settings_url }}">in your settings</a>.{% endblocktrans %}
{% enddismissable %}


{% if object_list %}

<table class="table-auto-scroll text-sm">
  <tbody>
    {% for notification in object_list %}
    {% notification notification %}
    <tr class="{% cycle '' 'bg-gray-100' %} hover:bg-gray-200">
      <td class="border px-2 py-2{% if not notification.is_read %} text-bold{% endif %}">

        {{ notification_content }}
        {% if not notification.is_read %}
        <span class="tag tag-primary px-1">{% trans "New" %}</span>
        {% endif %}
        </div>
        </div>
      </td>
      <td class="border px-2 py-2 text-gray-600">
        {% blocktrans with created=notification.created|timesince %}
        {{ created }} ago
        {% endblocktrans %}
      </td>
      <td class="border px-2 py-2">
        <div class="table-nav">
          {% if not notification.is_read %}
          <a class="table-nav-item"
             href="{% url 'notifications:mark_read_redirect' notification.pk %}"
             data-turbolinks="false"
             data-controller="ajax"
             data-action="ajax#post">{% trans "Mark Read" %}</a>
          {% endif %}
          <a class="table-nav-item"
             href="{% url 'notifications:delete' notification.pk %}"
             data-turbolinks="false"
             data-controller="ajax"
             data-action="ajax#post">{% trans "Delete" %}</a>
        </div>
      </td>
    </tr>
    {% endnotification %}
    {% endfor %}
  </tbody>
</table>
{% include "includes/pagination.html" %}
{% else %}
{% include "includes/empty.html" %}
{% endif %}
{% endblock %}
