{% load i18n %}
{% if form and page_obj.number == 1 %}
<form method="POST" action="{% url 'content:create' %}">
  {% csrf_token %}
  {{ form.media }}
  {% include "shared/forms/fields.html" %}
  <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
</form>
{% endif %}

{% for post in object_list %}
<div class="card mt-1">
  {% if post.title %}
  <div class="card-header">
    <div class="card-title h5">{{ post.title }}</div>
  </div>
  {% endif %}
  <div class="card-body">
    {{ post.markdown }}
  </div>
  <div class="card-footer"></div>
</div>
{% endfor %}
{% include "shared/pagination.html" with ic_target="#posts" %}
