{% load i18n %}
{% load widget_tweaks %}

<h2>{% trans "Change Password" %}</h2>

<div class="columns">
  <div class="column col-6 col-sm-12">
    <form method="POST" action="{% url 'account_change_password' %}">
      {% csrf_token %}

      <div class="form-group {% if form.oldpassword.errors %} has-error{% endif %}">
        <label for="{{ form.oldpassword.id_for_label }}" class="form-label">{{ form.oldpassword.label }}</label>
        {% render_field form.oldpassword class="form-input" placeholder=form.oldpassword.label %}
        {% for error in form.oldpassword.errors %}
        <p class="form-input-hint">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="form-group {% if form.password1.errors %} has-error{% endif %}">
        <label for="{{ form.password1.id_for_label }}" class="form-label">{{ form.password1.label }}</label>
        {% render_field form.password1 class="form-input" placeholder=form.password1.label %}
        {% for error in form.password1.errors %}
        <p class="form-input-hint">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="form-group {% if form.password2.errors %} has-error{% endif %}">
        <label for="{{ form.password2.id_for_label }}" class="form-label">{{ form.password2.label }}</label>
        {% render_field form.password2 class="form-input" placeholder=form.password2.label %}
        {% for error in form.password2.errors %}
        <p class="form-input-hint">{{ error }}</p>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
    </form>
  </div>
</div>

