{% extends "users/base.html" %}

{% load i18n %}

{% block title %}{% trans "Email Addresses" %}{% endblock %}

{% block users_content %}
<h3>{% trans "Email Addresses" %}</h3>
{% with emailaddresses=user.emailaddress_set.all emailaddress_count=user.emailaddress_set.count %}
{% if emailaddress_count %}
<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" method="post">
  {% csrf_token %}

  {% for emailaddress in emailaddresses %}
  <div class="form-group">
    <label for="email_radio_{{ forloop.counter }}" class="form-label">
      <input id="email_radio_{{ forloop.counter }}" type="radio" name="email" {% if emailaddress.primary or emiladdress_count == 1 %}checked="checked"{% endif %} value="{{ emailaddress.email }}"/>
      {{ emailaddress.email }}
      {% if emailaddress.verified %}
      <span class="chip">{% trans "Verified" %}</span>
      {% else %}
      <span class="chip">{% trans "Unverified" %}</span>
      {% endif %}
      {% if emailaddress.primary %}<span class="chip">{% trans "Primary" %}</span>{% endif %}
    </label>
  </div>
  {% endfor %}

  <div class="btn-group">
    <button class="btn btn-secondary" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
    <button class="btn btn-secondary" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
    <button class="btn btn-primary" type="submit" name="action_remove" data-js-confirm-dialog="#confirm-remove-email-dialog">{% trans 'Remove' %}</button>
  </div>

</form>

<div class="modal" id="confirm-remove-email-dialog">
  <a href="#" class="modal-overlay" aria-label="Close" data-js-close-modal></a>
  <div class="modal-container">
    <div class="modal-header">
      <a href="#" class="btn btn-clear float-right" aria-label="Close" data-js-close-modal></a>
      <div class="modal-title h5">Confirmation</div>
    </div>
    <div class="modal-body">
      <div class="content">
        {% trans 'Do you really want to remove the selected e-mail address?' %}
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" data-js-close-modal>Cancel</button>
      <button class="btn btn-primary" data-js-confirm-dialog-handler>Remove</button>
    </div>
  </div>
</div>


{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

{% endif %}

{% endwith %}

<div class="divider"></div>

<h3>{% trans "Add E-mail Address" %}</h3>

<div class="col-6 col-sm-12">
  <form method="post" action="{% url 'account_email' %}" class="add_email">
    {% csrf_token %}
    {% include "shared/_form_group.html" with field=form.email %}
    <button name="action_add" class="btn btn-primary" type="submit">{% trans "Add E-mail" %}</button>
  </form>
</div>
{% endblock users_content %}
