{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "users/account_base.html" %}

{% load i18n %}

{% block account_subtitle %}{% trans "Email Addresses" %}{% endblock %}

{% block content %}

<ul class="breadcrumbs mb-3">
  <li class="breadcrumb-item"><a href="{% url 'user_update' %}">{% trans "Settings" %}</a></li>
  <li class="breadcrumb-item">
    {% trans "Email Addresses" %}
  </li>
</ul>

<h1 class="page-header mb-3">{% trans "Email Addresses" %}</h1>


{% with emailaddresses=user.emailaddress_set.all emailaddress_count=user.emailaddress_set.count %}
{% if emailaddress_count %}
<p class="mb-3">{% trans "The following email addresses are associated with your account:" %}</p>

<form action="{% url 'account_email' %}"
      method="POST"
      class="p-5 border border-gray-500 bg-gray-100 max-w-xl">
  {% csrf_token %}

  {% for emailaddress in emailaddresses %}
  <div class="mb-3">
    <label for="email_radio_{{ forloop.counter }}"
           class="font-semibold">
      <input id="email_radio_{{ forloop.counter }}"
             type="radio"
             name="email"
             {% if emailaddress.primary or emiladdress_count == 1 %}checked="checked"
             {% endif %}
             value="{{ emailaddress.email }}" />
      {{ emailaddress.email }}
      {% if emailaddress.verified %}
      <span class="tag">{% trans "Verified" %}</span>
      {% else %}
      <span class="tag">{% trans "Unverified" %}</span>
      {% endif %}
      {% if emailaddress.primary %}<span class="chip">{% trans "Primary" %}</span>{% endif %}
    </label>
  </div>
  {% endfor %}

  <div class="flex text-center mt-2 pt-2 border-t">
    <button class="btn btn-primary mr-1"
            type="submit"
            name="action_primary">{% trans 'Make Primary' %}</button>
    <button class="btn btn-secondary mr-1"
            type="submit"
            name="action_send">{% trans 'Re-send Verification' %}</button>
    <button class="btn btn-secondary"
            type="submit"
            name="action_remove">{% trans 'Remove' %}</button>
  </div>

</form>

{% else %}
<p class=""><strong>{% trans 'Warning:'%}</strong>
  {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
</p>

{% endif %}

{% endwith %}

<h2 class="my-4 font-semibold mb-2">
  {% trans "Add E-mail Address" %}
</h2>

<form method="POST"
      action="{% url 'account_email' %}"
      class="p-5 border border-gray-500 bg-gray-100 max-w-xl">
  {% include "includes/forms/fields.html" %}
  <button name="action_add"
          class="btn btn-primary"
          type="submit">{% trans "Add E-mail" %}</button>
</form>
{% endblock content %}
