{% extends "users/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block users_content %}

<h2>{% trans "Change Password" %}</h2>

<div class="columns">
  <div class="column col-6 col-sm-12">
    <form method="POST" action="{% url 'account_change_password' %}">
      {% csrf_token %}
      {% include "form_group.html" with field=form.oldpassword %}
      {% include "form_group.html" with field=form.password1 %}
      {% include "form_group.html" with field=form.password2 %}
      <button type="submit" class="btn btn-primary">{% trans "Change Password" %}</button>
    </form>
  </div>
</div>

{% endblock users_content %}
