{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block account_subtitle %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h1 class="page-header mb-3">{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p class="mb-3">
  {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
</p>

{% url 'account_reset_password' as reset_password_url %}
{% trans 'Reset My Password' as t_reset_password %}
{% include "includes/forms/form.html" with action=reset_password_url submit_btn=t_reset_password %}
{% endblock %}
