{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "account/base.html" %}

{% load i18n %}

{% block account_subtitle %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1 class="page-header mb-3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p class="mb-3">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
{% if form %}
{% trans 'Change Password' as t_change_password %}
{% include "includes/forms/form.html" with action=action_url submit_btn=t_change_password %}
{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
{% endblock %}
