{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
{% if form %}
<div class="columns">
  <div class="column col-6 col-sm-12">
    <form method="POST" action="{{ action_url }}">
      {% csrf_token %}
      <div class="form-group {% if form.password1.errors %} has-error{% endif %}">
        <label for="{{ form.password1.id_for_label }}" class="form-label">{{ form.password1.label }}</label>
        {% render_field form.password1 class="form-input" placeholder=form.password1.label %}
        {% for error in form.password1.errors %}
        <p class="form-input-hint">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="form-group {% if form.password2.errors %} has-error{% endif %}">
        <label for="{{ form.password2.id_for_label }}" class="form-label">{{ form.password2.label }}</label>
        {% render_field form.password2 class="form-input" placeholder=form.password2.label %}
        {% for error in form.password2.errors %}
        <p class="form-input-hint">{{ error }}</p>
        {% endfor %}
      </div>

      <input type="submit" name="action" class="btn btn-primary" value="{% trans 'Change password' %}"/>
    </form>
  </div>
</div>
{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
{% endblock %}
