{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<div class="columns">
  <div class="column col-6 col-sm-12">
    <form method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      {% include "form_group.html" with field=form.username %}
      {% include "form_group.html" with field=form.email %}
      {% include "form_group.html" with field=form.password1 %}
      {% include "form_group.html" with field=form.password2 %}

      <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
    </form>
  </div>
</div>

{% endblock content %}
