{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load rules %}
{% load users %}

{% block subtitle %} / {% user_display user_obj %}{% endblock %}

{% block content %}

{% has_perm "users.block_user" user user_obj as can_block_user %}
{% has_perm "users.follow_user" user user_obj as can_follow_user %}
{% has_perm "users.change_user" user user_obj as can_change_user %}
{% has_perm "private_messages.create_message" user community as can_create_message %}
{% has_perm "communities.view_membership" user membership as can_view_membership %}

{% if is_current_user and not user_obj.bio %}
{% dismissable user "profile-settings" %}
{% url 'user_update' as user_settings_url %}
{% blocktrans %}
You can edit your profile in <a href="{{ user_settings_url }}">your settings</a>.
{% endblocktrans %}
{% enddismissable %}
{% endif %}

<div class="flex-wrap lg:flex items-center lg:justify-between mb-3">

  <h1 class="page-header flex flex-wrap items-center">
    {% if user_obj.avatar %}
    <div class="inline-block mr-3">
      {% avatar user_obj "64" css_class="mr-1" show_placeholder=False %}
    </div>
    {% endif %}
    <div class="inline-block mr-3">
      {% if user_obj.username == display_name %}
      @{{ display_name }}
      {% else %}
      {{ display_name }}
      (@{{ user_obj.username }})
      {% endif %}
    </div>
    {% if membership.is_admin %}
    <span class="inline-block tag mr-3">{% trans "Admin" %}</span>
    {% elif membership.is_moderator %}
    <span class="inline-block tag">{% trans "Moderator" %}</span>
    {% endif %}
  </h1>

  <div class="flex flex-wrap mt-3 lg:mt-0">
    {% if not is_current_user %}
    <div class="text-sm mr-3"
         data-controller="dropdown"
         data-action="click@window->dropdown#close keydown@window->dropdown#close">
      <button class="btn btn-dropdown"
              data-action="dropdown#toggle">
        {% trans "Actions..." %}<i class="icon icon-caret"></i>
      </button>
      <div class="dropdown-menu mt-1 hidden"
           data-target="dropdown.menu">

        {% if can_create_message and not is_blocked %}
        <a class="dropdown-menu-item"
           href="{% url 'private_messages:message_create_recipient' user_obj.username %}">{% trans "Send Message" %}</a>
        {% endif %}

        {% if not is_blocked and can_follow_user %}
        <div data-controller="ajax"
             data-ajax-replace
             class="dropdown-menu-item-container">
          {% include "users/includes/follow.html" with object=user_obj %}
        </div>
        {% endif %}

        {% if can_block_user %}
        {% with redirect_url=user_obj.get_absolute_url %}
        {% if is_blocking %}
        <a class="dropdown-menu-item line-through"
           href="{% url 'users:unblock' user_obj.username %}"
           data-turbolinks="false"
           data-controller="ajax"
           data-target="ajax.button"
           data-action="ajax#post toggle#toggle"
           data-ajax-redirect="{{ redirect_url }}">
          {% trans "Block" %}
        </a>
        {% else %}
        <a href="{% url 'users:block' user_obj.username %}"
           class="dropdown-menu-item"
           data-turbolinks="false"
           data-controller="ajax"
           data-target="ajax.button"
           data-action="ajax#post toggle#toggle"
           data-ajax-redirect="{{ redirect_url }}">
          {% trans "Block" %}
        </a>
        {% endif %}
        {% endwith %}
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="page-nav">
      {% if is_current_user %}
      <a class="page-nav-item"
         href="{% url 'user_update' %}">
        {% trans "Settings" %}
      </a>
      {% endif %}

      {% if not is_blocked %}
      <a class="page-nav-item"
         href="{% url 'users:activity_likes' user_obj.username %}">
        {% trans "Likes" %}
      </a>
      <a class="page-nav-item"
         href="{% url 'users:activity_mentions' user_obj.username %}">
        {% trans "Mentions" %}
      </a>
      {% endif %}
      {% if can_view_membership %}
      <a class="page-nav-item"
         href="{% url 'communities:membership_detail' membership.id %}">{% trans "Membership" %}</a>
      {% endif %}
    </div>
  </div>
</div>

{% if not is_blocked %}
<p class="mb-3 text-sm">
  {% if is_current_user %}
  {% blocktrans with created=membership.created|timesince %}
  You have been a member for <b>{{ created }}</b>.
  {% endblocktrans %}
  {% elif membership %}
  {% blocktrans with created=membership.created|timesince %}
  {{ display_name }} has been a member for <b>{{ created }}</b>.
  {% endblocktrans %}
  {% endif %}
</p>
{% endif %}

{% if is_follower %}
<p class="mb-3 text-sm">
  {% blocktrans %}{{ display_name }} is following you.{% endblocktrans %}
</p>
{% endif %}


{% if is_blocked %}
<p class="mb-3 text-sm">
  <b>
    {% if is_blocker %}
    {% trans "This user has blocked you." %}
    {% else %}
    {% trans "You are blocking this user." %}
    {% endif %}
  </b>
</p>
<p class="mb-3 text-sm">
  <b>
    {% if is_blocker %}
    {% trans "You cannot send messages to this person." %}
    {% else %}
    {% trans "You cannot exchange messages with this person and their content has been removed from your feeds." %}
    {% endif %}
  </b>
</p>
{% elif user_obj.bio %}
{% collapsable %}
<div class="markdown-content mb-3">
  {{ user_obj.bio.markdown|strip_external_images:user|lazify }}
</div>
{% endcollapsable %}
{% endif %}


{% if not is_blocked %}
<div class="tabs mb-3 text-sm">
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'users:activities' user_obj.username %}">{% trans "Activities" %}</a>
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'users:messages' user_obj.username %}">
    {% trans "Messages" %}
  </a>
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'users:comments' user_obj.username %}">{% trans "Comments" %}</a>
</div>
{% block user_content %}{% endblock %}
{% endif %}
{% endblock content %}
