{% load i18n %}
{% load micawber_tags %}
{% with post.get_permalink as permalink %}
<div class="content card mt-1" id="post-{{ post.id }}">
  <div class="card-header">
    {% if post.title %}
    <div class="card-title h5"><a href="{{ permalink }}">{{ post.title }}</a></div>
    {% endif %}
  </div>
  <div class="card-body">
    {% if post.description %}
    <div>
      {{ post.markdown }}
    </div>
    {% endif %}
    {% if post.url %}
    <div>
      {{ post.url|oembed:"700x700" }}
    </div>
    {% endif %}
  </div>
  <div class="card-footer">
    {% include "content/includes/post_actions.html" %}
  </div>
</div>
{% endwith %}
