{% load i18n %}
{% load micawber_tags %}
<div class="card content-card mt-1" id="post-{{ post.id }}">
  <div class="card-header">
    <div class="card-subtitle text-gray float-right">
      {% blocktrans with post.created|timesince as created %}{{ created }} ago{% endblocktrans %}
    </div>
    <div class="card-title h6"><a href="">{{ post.author.username }}</a></div>
    {% if post.title %}
    <div class="card-subtitle"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></div>
    {% endif %}
  </div>
  <div class="card-body">
    {% if post.description %}
    <div>
      {{ post.markdown }}
    </div>
    {% endif %}
    {% if post.url %}
    <div>
      {{ post.url|oembed:"700x700" }}
    </div>
    {% endif %}
  </div>
  <div class="card-footer">
    <div class="divider"></div>
    {% include "content/includes/post_actions.html" %}
  </div>
</div>
