{% load i18n %}
{% load rules %}
{% load micawber_tags %}
{% load likes_tags %}

{% has_perm "content.like_post" user post as can_like_post %}
{% has_perm "content.change_post" user post as can_change_post %}
{% has_perm "content.delete_post" user post as can_delete_post %}
{% has_perm "content.create_comment" user post as can_create_comment %}

<div class="card content-card">
    <div class="card-header">
        <div class="card-subtitle text-gray float-right">
            {% blocktrans with post.created|timesince as created %}{{ created }} ago{% endblocktrans %}
        </div>
        <div class="card-title h6"><a href="{{ post.author.get_profile_url }}">{{ post.author.username }}</a></div>
        {% if post.title %}
        <div class="card-subtitle">{{ post.title }}</div>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="divider"></div>
        {% if post.description %}
        <div>
            {{ post.markdown }}
        </div>
        {% endif %}
        {% if post.url %}
        <div>
            {{ post.url|oembed }}
        </div>
        {% endif %}
    </div>
    <div class="card-footer">

        <div class="d-flex content-actions">

            {% if post.author_id == user.id %}
            <div class="mr-2">{% trans "Likes" %} ({{ post.num_likes }})</div>
            {% elif can_like_post %}
            <div class="mr-2">
                {% has_liked user post as has_liked_post %}
                <a href="#" data-like="{% url 'content:like' post.id %}">{% if has_liked_post %}{% trans "Unlike" %}{% else %}{% trans "Like" %}{% endif %}</a>
            </div>
            {% endif %}

            <div class="mr-2">
                <a href="{{ post.get_absolute_url }}#comments">
                    {% trans "Comments" %} {% if post.num_comments %}({{ post.num_comments }}){% endif %}
                </a>
            </div>

            <div class="mr-2">
                <a href="">{% trans "Flag" %}</a>
            </div>

            {% if can_change_post %}
            <div class="mr-2">
                <a href="{% url 'content:update' post.id %}"
                   >{% trans "Update" %}</a>
            </div>
            {% endif %}

            {% if can_delete_post %}
            {% url "content:delete" post.id as delete_url %}
            <div class="mr-2">
                <a href="{{ delete_url }}"
                   data-delete-from="{{ delete_url }}"
                   data-delete-target=".content-card"
                   data-confirm-dialog="#confirm-post-delete"
                   data-confirm-trigger="confirm-delete"
                   >{% trans "Delete" %}</a>
            </div>
            {% endif %}

            <div class="">
                <a href="{{ post.get_permalink }}">{% trans "Permalink" %}</a>
            </div>
        </div>
    </div>

</div>
