{% load i18n %}
{% if page_obj.number == 1 %}
{% if form %}
<input type="text"
       class="form-input"
       id="share-input"
       placeholder="{% trans 'Share...' %}"
       data-js-toggle="#post-form,#share-input"
       readonly
       />
<div class="d-none" id="post-form">
  <form method="POST" action="{% url 'content:create' %}">
    {% include "content/includes/post_form.html" %}
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    <button class="btn btn-secondary" data-js-toggle="#post-form,#share-input">{% trans "Cancel" %}</button>
  </form>
</div>
<div class="divider"></div>

{% elif not user.is_authenticated %}
<p class="bg-gray p-2 text-center">
  {% url 'account_login' as login_url %}
  {% blocktrans %}Please <a href="{{ login_url }}">sign in</a> to post content to this site.{% endblocktrans %}
</p>

{% elif not form %}
<p class="bg-gray p-2 text-center">
  {% trans "You do not have permission to post to this site." %}
</p>
{% endif %}
{% endif %}

{% for post in object_list %}
<div data-ic-target="closest .content-card">
  {% include "content/includes/post_detail.html" %}
</div>
{% endfor %}


{% include "includes/pagination.html" with ic_target="#posts" %}
