{% load i18n %}
<div class="modal" id="confirm-post-delete">
  <a href="#" class="modal-overlay" aria-label="Close" data-close-modal></a>
  <div class="modal-container">
    <div class="modal-header">
      <a href="#" class="btn btn-clear float-right" aria-label="Close" data-close-modal></a>
      <div class="modal-title h5">{% trans "Delete Post" %}</div>
    </div>
    <div class="modal-body">
      <div class="content">
        {% trans "Do you really want to delete this post?" %}
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" data-close-modal>{% trans "Cancel" %}</button>
      <button class="btn btn-primary" data-confirm-handler>{% trans "Delete" %}</button>
    </div>
  </div>
</div>


