{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load widget_tweaks %}
{% with label=label|default:field.label help_text=help_text|default:field.help_text widget=field.field.widget %}
<div class="mb-3 {% if field.errors %} text-red-600{% endif %}">
  {% if widget.input_type == 'checkbox' %}
  {% if widget.allow_multiple_selected %}
  <label for="{{ field.id_for_label }}"
         class="block font-semibold mb-3 text-sm">{{ label }}</label>
  {% render_field field %}
  {% else %}
  {% include "includes/forms/widgets/checkbox_input.html" %}
  {% endif %}
  {% elif widget.input_type == 'radio' %}
  <label class="block font-semibold mb-3 text-sm">{{ label }}</label>
  {% for choice in field %}
  <div class="{% if not forloop.last %} mr-2{% endif %}">
    <label class="font-semibold text-sm">
      {{ choice.tag }}
      {{ choice.choice_label }}
    </label>
  </div>
  {% endfor %}
  {% else %}
  <label for="{{ field.id_for_label }}"
         class="block font-semibold mb-3 text-sm">{{ label }}</label>

  {% with widget_class=field.errors|yesno:"form-input form-input-error,form-input" %}
  {% if widget.input_type == "select" %}
  <div class="relative">
    {% render_field field class=widget_class placeholder=widget.attrs.placeholder %}
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      {% svg "arrow_down" css_class="fill-current h-4 w-4" size=20 variant=None %}
    </div>
  </div>
  {% else %}
  {% render_field field class=widget_class placeholder=widget.attrs.placeholder %}
  {% endif %}
  {% endwith %}

  {% endif %}

  {% for error in field.errors %}
  <p class="text-red-600 mb-3 text-sm">{{ error }}</p>
  {% endfor %}

  {% if not field.errors and help_text %}
  <p class="text-gray-700 mb-3 text-sm">{{ help_text }}</p>
  {% endif %}
</div>
{% endwith %}
