{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

<form {% spaceless %}
      method="{{ method|default:'POST' }}"
      action="{{ action|default:request.path }}"
      {% if form|is_multipart %}
      enctype="multipart/form-data"
      {% endif %}
      {% if form_id %}
      id="{{ form_id }}"
      {% endif %}
      class="{{ css_class|default:"p-1 md:p-3 border border-gray-500 bg-gray-100 max-w-xl" }}"
      {% block form_extra_attrs %}{% endblock %}
      {% endspaceless %}>

  {% block form_fields %}
  {% include "includes/forms/fields.html" %}
  {% endblock form_fields %}
  <div class="flex text-center mt-2 pt-3 border-t border-gray-500">
    {% block form_buttons %}
    <button type="submit"
            name="submit"
            class="btn btn-primary mr-2">
      {{ submit_btn|default:_("Submit") }}
    </button>
    {% endblock %}
  </div>
</form>
