{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{# Use this template together with SearchMixin views #}

{% load i18n %}
{% load rules %}

<form method="GET"
      action="{{ request.path }}"
      data-controller="search"
      data-search-param="{{ view.search_parameter|default:'q' }}"
      data-action="search#search"
      class="my-2 search-form">
  {% for name, value in non_search_params.items %}
  <input type="hidden"
         name="{{ name }}"
         value="{{ value }}">
  {% endfor %}
  <div class="flex items-center mb-3">
    <input class="form-input"
           name="{{ view.search_parameter|default:'q' }}"
           type="search"
           {% if not view.search_optional %}
           required
           {% endif %}
           {% if selector %}
           data-target="search.input"
           {% endif %}
           data-action="keyup->search#toggleSelector"
           placeholder="{% trans "Search..." %}"
           value="{{ view.search_query|default:"" }}">
  </div>
  {% if selector %}
  <div class="relative mb-3">
    <select class="appearance-none border border-gray-500 w-full p-1 text-gray-900"
            data-target="search.selector"
            data-action="search#search">
      <option value="">{% trans "Search in..." %}</option>
      <option value="{% url 'activities:search' %}">{% trans "Activity Stream" %}</option>
      <option value="{% url 'private_messages:inbox' %}">{% trans "Messages - Inbox" %}</option>
      <option value="{% url 'private_messages:outbox' %}">{% trans "Messages - Outbox" %}</option>
      <option value="{% url 'comments:list' %}">{% trans "Comments" %}</option>
      <option value="{% url 'activities:private' %}">{% trans "Private Stash" %}</option>
      <option value="{% url 'bookmarks:activities' %}">{% trans "Bookmarks - Activities" %}</option>
      <option value="{% url 'bookmarks:messages' %}">{% trans "Bookmarks - Messages" %}</option>
      <option value="{% url 'bookmarks:comments' %}">{% trans "Bookmarks - Comments" %}</option>
      <option value="{% url 'users:member_list' %}">{% trans "Members" %}</option>
      <option value="{% url 'posts:list' %}">{% trans "Posts" %}</option>
      <option value="{% url 'events:list' %}">{% trans "Events" %}</option>
      <option value="{% url 'photos:list' %}">{% trans "Photos" %}</option>
      <option value="{% url 'polls:list' %}">{% trans "Polls" %}</option>
      <option value="{% url 'hashtags:list' %}">{% trans "Tags" %}</option>
      <option value="{% url 'community_list' %}">{% trans "Communities" %}</option>
      {% has_perm "communities.manage_community" user community as can_manage_community %}
      {% if can_manage_community %}
      <option value="{% url 'communities:membership_list' %}">{% trans "Memberships" %}</option>
      <option value="{% url 'invites:list' %}">{% trans "Invites" %}</option>
      <option value="{% url 'join_requests:list' %}">{% trans "Join Requests" %}</option>
      {% endif %}
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      {% svg "arrow_down" css_class="fill-current h-4 w-4" size=20 variant=None %}
    </div>
  </div>
  {% endif %}

</form>

{% if view.search_optional and view.search_query %}
<a href="{{ non_search_path }}"
   class="btn btn-block mb-3">
  {% trans "Clear Search" %}
</a>
{% endif %}

{% if view.search_query and object_list %}
<div class="notification font-bold mb-3">
  {% blocktrans count counter=paginator.count with query=view.search_query %}
  1 Result for "{{ query }}"
  {% plural %}
  {{ counter }} Results for "{{ query }}"
  {% endblocktrans %}
</div>
{% endif %}
