Pillow
beautifulsoup4
bleach
boto3
celery
dj-database-url
django
django-allauth
django-anymail[mailgun]
django-celery-email
django-configurations
django-countries
django-debug-toolbar
django-extensions
django-markdownx
django-model-utils
django-redis
django-silk
django-simple-history
django-storages
django-taggit
django-timezone-field
django-widget-tweaks
factory-boy
flower
geocoder
gunicorn
icalendar
ipython
micawber
psycopg2
pytest
pytest-django
pytest-mock
pytz
pywebpush
redis
rules
sorl-thumbnail
werkzeug
