Pillow
beautifulsoup4
bleach
boto3
celery
dj-database-url
django-allauth
django-anymail[mailgun]
django-celery-email
django-configurations
django-countries
django-debug-toolbar
django-extensions
django-markdownx
django-model-utils
django-redis
django-silk
django-simple-history
django-storages==1.8
django-taggit
django-timezone-field
django-vanilla-views
django-widget-tweaks
django
factory-boy
geocoder
gunicorn
icalendar
ipython
micawber
psycopg2-binary
# https://github.com/pytest-dev/pytest/issues/6492
pytest==5.3.2
pytest-cov
pytest-django
pytest-mock
pytest-xdist
pytz
pywebpush
# https://github.com/andymccurdy/redis-py/issues/1274
redis==3.3.1
rules
sorl-thumbnail
unidecode
werkzeug
