{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load users %}

{% for user_obj in object_list %}
<li class="cursor-pointer p-1 hover:bg-gray-500 hover:text-white {% if forloop.first %} bg-gray-500 text-white selected{% endif %}"
    data-action="click->typeahead#select"
    data-typeahead-value="{{ user_obj.username }}"
    data-typeahead-key="@">
  <div class="flex items-center">
    <span class="inline-block">
      @{{ user_obj.username }}
    </span>
  </div>
</li>
{% endfor %}
