{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}
{% load rules %}

{% block subtitle %} / {% trans "People" %}{% endblock %}

{% block content %}

{% has_perm "private_messages.create_message" user community as can_create_message %}

<h1 class="page-header mb-3">{% trans "People" %}</h1>

<div class="tabs mb-3 text-sm">
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'users:member_list' %}">{% trans "Members" %}</a>
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'users:following_list' %}">{% trans "Following" %}</a>
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'users:follower_list' %}">{% trans "Followers" %}</a>
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'users:blocked_list' %}">{% trans "Blocked" %}</a>
</div>

{% block user_list %}

{% if object_list %}

{% block counter_container %}
<div class="notification font-bold mb-3">
  {% block counter %}
  {% endblock counter %}
</div>
{% endblock counter_container %}

{% if page_obj.number > 1 %}
{% include "includes/pagination.html" with css_class="mb-3" %}
{% endif %}

<table class="table-auto-scroll text-sm">
  <tbody>
    {% for object in object_list %}
    <tr class="{% cycle '' 'bg-gray-100' %} hover:bg-gray-200">
      <td class="border-t border-l border-b py-2 px-2 w-3/4">
        <div class="flex flex-wrap items-center">

          {% block user_item_detail %}
          {% if object.num_unread_messages %}
          {% url 'users:messages' object.username as messages_url %}
          {% include "users/includes/chip.html" with profile=object profile_url=messages_url css_class="mr-2" %}
          {% else %}
          {% include "users/includes/chip.html" with profile=object css_class="mr-2" %}
          {% endif %}

          {% if object.role == "admin" or object.role == "moderator" %}
          <span class="tag px-1 mr-2">{{ object.role_display }}</span>
          {% endif %}

          {% if object.num_unread_messages %}
          <span class="tag px-1">{% trans "New" %}</span>
          {% endif %}
          {% endblock user_item_detail %}
      </td>
      <td class="border py-2 px-2">
        <div class="table-nav">
          {% block user_item_actions %}
          {% if user == object %}
          <a class="table-nav-item"
             href="{% url 'user_update' %}">{% trans "Settings" %}</a>
          {% else %}
          {% has_perm "users.follow_user" user object as can_follow_user %}
          {% if can_follow_user %}

          <span data-controller="ajax"
                data-ajax-replace
                class="table-nav-item">
            {% include "users/includes/follow.html" with is_following=object.is_following %}
          </span>
          {% endif %}

          {% if can_create_message %}
          <a class="table-nav-item"
             href="{% url 'private_messages:message_create_recipient' object.username %}">
            {% trans "Send Message" %}
          </a>
          {% endif %}

          {% endif %}
        </div>
        {% endblock user_item_actions %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "includes/pagination.html" %}
{% else %}
{% include "includes/empty.html" %}
{% endif %}
{% endblock user_list %}
{% endblock content %}
