{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "users/list/base.html" %}
{% load i18n %}

{% block subtitle %}{{ block.super }} / {% trans "Blocked" %}{% endblock %}

{% block counter %}
{% blocktrans count counter=paginator.count %}
You have blocked one person.
{% plural %}
You have blocked {{ counter }} people.
{% endblocktrans %}
{% endblock counter %}

{% block user_item_actions %}
<div class="table-nav">
  <a class="table-nav-item line-through"
     href="{% url 'users:unblock' object.username %}"
     data-turbolinks="false"
     data-controller="ajax"
     data-action="ajax#post toggle#toggle"
     data-ajax-redirect="{{ request.get_full_path }}">
    {% trans "Block" %}
  </a>
</div>
{% endblock %}
