{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load i18n %}
<div {% spaceless %}data-controller="calendar"
     {% if default_time %}
     data-calendar-default-time="{{ default_time }}"
     {% endif %}
     {% if listen %}
     data-calendar-listen="{{ listen }}"
     {% endif %}
     {% if notify %}
     data-calendar-notify="{{ notify }}"
     {% endif %}{% endspaceless %}>

  <div class="flex flex-wrap">
    <div class="w-32 mr-1">
      {% include widget.subwidgets.0.template_name with widget=widget.subwidgets.0 %}
    </div>
    <div class="">
      {% include widget.subwidgets.1.template_name with widget=widget.subwidgets.1 %}
    </div>
  </div>

  <template data-target="calendar.activeTemplate">
    <div class="calendar-item text-xs cursor-pointer"
         data-action="click->calendar#select">
      <div class="h-12 md:h-24 p-2 tracking-tight border-r border-b border-gray-500 justify-center align-middle">
        <button class="md:float-right"></button>
        <div class="md:clear-both"></div>
      </div>
    </div>
  </template>

  <template data-target="calendar.inactiveTemplate">
    <div class="calendar-item text-xs">
      <div class="h-12 md:h-24 p-2 border-b border-r border-gray-500"></div>
    </div>
  </template>

  <div class="border-l border-t border-gray-500 min-w-100 hidden mt-2" data-target="calendar.calendar">

    <div class="flex items-center justify-between bg-gray-200 px-4 py-2 border-r border-b border-gray-500">
      <a class="text-sm text-black"
         data-action="calendar#prevMonth"
         href="#">
        {% trans "Previous" %}
      </a>
      <div class="font-semibold" data-target="calendar.currentMonth">{{ current_month|date:"F Y" }}</div>
      <a class="text-sm text-black"
         data-action="calendar#nextMonth"
         href="#">
        {% trans "Next" %}
      </a>
    </div>
    <div class="flex flex-wrap justify-between text-center items-center py-4 bg-gray-100 border-r border-b border-gray-500">
      <div class="text-sm calendar-item">{% trans "Sun" %}</div>
      <div class="text-sm calendar-item">{% trans "Mon" %}</div>
      <div class="text-sm calendar-item">{% trans "Tue" %}</div>
      <div class="text-sm calendar-item">{% trans "Wed" %}</div>
      <div class="text-sm calendar-item">{% trans "Thu" %}</div>
      <div class="text-sm calendar-item">{% trans "Fri" %}</div>
      <div class="text-sm calendar-item">{% trans "Sat" %}</div>
    </div>

    <div class="flex flex-wrap"
         data-target="calendar.days">
    </div>

  </div>
</div>
