<div data-controller="image-preview"
     data-action="drop->image-preview#drop">
  <img src="{{ widget.value.url }}"
       data-target="image-preview.image"
       loading="lazy"
       class="bg-gray-300 img-responsive mb-3{% if not widget.value.url %} hidden{% endif%}">
  <div data-target="image-preview.fileSize"
       class="hidden"></div>
  {% if widget.is_initial %}
  {% if not widget.required %}
  <label for="{{ widget.checkbox_id }}"
         class="font-semibold text-sm">
    <input type="checkbox"
           name="{{ widget.checkbox_name }}"
           id="{{ widget.checkbox_id }}">
    <i class="form-icon"></i>
    {{ widget.clear_checkbox_label }}
  </label>
  {% endif %}<br>
  <label class="text-sm font-semibold">
  {{ widget.input_text }}:
  </label>
  {% endif %}
  <input type="{{ widget.type }}"
         name="{{ widget.name }}"
         data-action="image-preview#change"
         data-target="image-preview.input"
         {% include "django/forms/widgets/attrs.html" %}>
</div>
