{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<div data-controller="typeahead"
     data-typeahead-selected-class="bg-gray-500 text-white"
     data-typeahead-config="{{ typeahead_config }}">
  <ul class="hidden typeahead-menu mt-1 text-sm"
      data-target="typeahead.selector"></ul>
  {% include "django/forms/widgets/input.html" %}
</div>
