{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "hashtags/base.html" %}
{% load i18n %}
{% load rules %}


{% block content %}

<h1 class="page-header mb-3">{% trans "Tags" %}</h1>

{% has_perm "users.follow_tag" user as can_follow_tag %}
{% has_perm "users.block_tag" user as can_block_tag %}

{% if can_follow_tag or can_block_tag %}
<div class="tabs text-sm mb-3">
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'hashtags:list' %}">{% trans "All" %}</a>
  {% if can_follow_tag %}
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'hashtags:following_list' %}">{% trans "Following" %}</a>
  {% endif %}
  {% if can_block_tag %}
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'hashtags:blocked_list' %}">{% trans "Blocked" %}</a>
  {% endif %}
</div>
{% endif %}

{% block tag_list %}
{% if object_list %}
{% with blocked=user.blocked_tags.all following=user.following_tags.all %}
<table class="table-auto-scroll text-sm">
  <tbody>
    {% for tag in object_list %}
    <tr class="{% cycle '' 'bg-gray-100' %} hover:bg-gray-200">
      <td class="border-t border-l border-b py-2 px-2 w-4/5">
        <a href="{% url 'hashtags:detail' tag.slug %}">
          #{{ tag.name }}
        </a>
        {% if tag.name.lower in content_warnings %}
        <span class="tag">{% trans "Sensitive" %}</span>
        {% endif %}
      </td>
      {% if can_follow_tag or can_block_tag %}
      <td class="border-t border-r border-b py-2 px-2 w-1/4">
        <div class="table-nav">
          {% if can_follow_tag %}
          <span data-controller="ajax" data-ajax-replace class="table-nav-item">
          {% with following|contains:tag as is_following %}
          {% include "hashtags/includes/follow.html" with object=tag %}
          {% endwith %}
          </span>
          {% endif %}

          {% if can_block_tag %}
          <span data-controller="ajax" data-ajax-replace class="table-nav-item">
          {% with blocked|contains:tag as is_blocked %}
          {% include "hashtags/includes/block.html" with object=tag %}
          {% endwith %}
          </span>
          {% endif %}
        </div>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endwith %}
{% else %}
{% include "includes/empty.html" %}
{% endif %}
{% endblock tag_list %}

{% endblock content %}
