{% extends "join_requests/base.html" %}
{% load i18n %}
{% load account %}

{% block content %}

<h3>{% trans "Join Requests" %}</h3>

<div class="actions">
    {% if view.show_all %}
    <a href="{{ request.path }}">{% trans "Show Pending" %}</a>
    {% else %}
    <a href="{{ request.path }}?all=true">{% trans "Show All" %}</a>
    {% endif %}
</div>
<div class="divider"></div>

{% if paginator.count or view.search_query %}
{% include "includes/forms/search_form.html" %}
{% endif %}

{% if object_list %}
<table class="table table-striped table-hover table-responsive-sm">
    <thead>
        <tr>
            <th>{% trans "User" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for join_request in object_list %}
        <tr>
            <td>
                {% user_display join_request.sender %}
            </td>
            <td>{{ join_request.get_status_display }}</td>
            <td>
                {% if join_request.is_pending %}
                <div class="actions">
                    <a data-controller="ajax"
                       data-action="ajax#post"
                       href="{% url 'join_requests:accept' join_request.id %}">{% trans "Accept" %}
                    </a>
                    <a data-controller="ajax confirm"
                       data-action="confirm#check ajax#post"
                       data-confirm-header="{% trans 'Reject' %}"
                       data-confirm-body="{% trans 'Are you sure you want to reject this request?' %}"
                       href="{% url 'join_requests:reject' join_request.id %}">{% trans "Reject" %}</a>
                </div>
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "includes/pagination.html" %}
{% else %}
{% include "includes/empty.html" %}
{% endif %}
{% endblock content %}
