{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="page-header mb-3">{% trans "Request Invitation" %}</h1>
<p class="mb-3">
  {% trans "Your request will be sent to the site admins. If they approve your request, you will automatically become a member of this community." %}
</p>
{% include "includes/forms/ajax_form.html" with css_class="w-full p-2" %}
{% endblock %}
