{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "join_requests/base.html" %}

{% load i18n %}
{% load account %}
{% load users %}

{% block content %}

{% user_display object.sender as display_name %}

<ul class="breadcrumbs mb-3">
  <li class="breadcrumb-item">
    <a href="{% url 'communities:community_update' %}">{% trans "Site Settings" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'join_requests:list' %}">{% trans "Join Requests" %}</a>
  </li>
  <li class="breadcrumb-item">{{ display_name }}</li>
</ul>

<h1 class="page-header mb-3">
  {% avatar object.sender "32" show_placeholder=False %}
  {% if object.sender.username == display_name %}
  @{{ display_name }}
  {% else %}
  {{ display_name }}
  (@{{ object.sender.username }})
  {% endif %}
</h1>

{% with is_pending=object.is_pending is_rejected=object.is_rejectd %}
<div class="page-nav mb-3 border-b pb-3">
  {% if is_pending or is_rejected %}
  <a class="page-nav-item"
     data-turbolinks="false"
     data-controller="ajax"
     data-action="ajax#post"
     data-ajax-confirm-header="{% trans 'Accept' %}"
     data-ajax-confirm-body="{% trans 'Are you sure you want to accept this request?' %}"
     data-ajax-redirect="{{ request.get_full_path }}"
     href="{% url 'join_requests:accept' object.id %}">{% trans "Accept" %}
  </a>
  {% endif %}
  {% if is_pending %}
  <a class="page-nav-item"
     data-turbolinks="false"
     data-controller="ajax"
     data-action="ajax#post"
     data-ajax-redirect="{{ request.get_full_path }}"
     data-ajax-confirm-header="{% trans 'Reject' %}"
     data-ajax-confirm-body="{% trans 'Are you sure you want to reject this request?' %}"
     href="{% url 'join_requests:reject' object.id %}">{% trans "Reject" %}</a>
  {% endif %}
  <a class="page-nav-item"
     data-turbolinks="false"
     data-controller="ajax"
     data-action="ajax#post"
     data-ajax-confirm-header="{% trans 'Delete' %}"
     data-ajax-confirm-body="{% trans 'Are you sure you want to delete this request?' %}"
     href="{% url 'join_requests:delete' object.id %}">{% trans "Delete" %}</a>
</div>
{% endwith %}


<dl class="text-sm">
  <dt>{% trans "Status" %}</dt>
  <dd>{{ object.get_status_display }}</dd>
  <dt>{% trans "Requested" %}</dt>
  <dd>
    {% blocktrans with created=object.created|timesince %}{{ created }} ago{% endblocktrans %}
  </dd>
</dl>

{% if object.sender.bio %}
<h4>{% trans "About this person" %}</h4>
{% collapsable %}
<div class="markdown-content">
  {{ object.sender.bio.markdown|strip_external_images:user|lazify }}
</div>
{% endcollapsable %}
{% endif %}


{% if object.intro %}
<div class="border-t mt-3">
  {{ object.intro|linebreaks }}
</div>
{% endif %}

{% endblock content %}
