{% extends "join_requests/base.html" %}
{% load i18n %}

{% block content %}

<h3>{% trans "Requests to join this community" %}</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>{% trans "Email" %}</th>
      <th>{% trans "Status" %}</th>
      <th>{% trans "Received" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for join_request in object_list %}
    <tr>
      <td>{{ join_request.sender.email|default:join_request.email }}</td>
      <td>{{ join_request.get_status_display }}</td>
      <td>{{ join_request.created|date }}</td>
      <td>
        {% if join_request.is_pending %}
        <a class="btn btn-sm" href="{% url 'join_requests:accept' join_request.id %}">{% trans "Accept" %}</a>
        <a class="btn btn-sm" href="{% url 'join_requests:reject' join_request.id %}">{% trans "Reject" %}</a>
        {% else %}
        <a class="btn btn-sm disabled" href="#">{% trans "Accept" %}</a>
        <a class="btn btn-sm disabled" href="#">{% trans "Reject" %}</a>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">{% trans "No requests at the moment" %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "includes/pagination.html" %}
{% endblock content %}


