{% extends "base.html" %}
{% load i18n %}

{% block title %}Community Settings{% endblock %}

{% block content %}
<div class="container">
  <div class="columns">
    <div id="settings-main-panel" class="column col-9 col-sm-12">
      <div class="show-sm hide-md float-right">
        <a href="#"
           class="btn btn-link"
           data-toggle="#settings-sidebar,#settings-main-panel"
           data-toggle-class="hide-sm">{% trans "Sidebar" %}</a>
      </div>
      <div class="clearfix"></div>
      {% block settings_content %}{% endblock %}
    </div>
    <div id="settings-sidebar" class="column col-3 col-sm-12 hide-sm bg-gray p-2">
      <a href="#"
         class="btn btn-link show-sm hide-md"
         data-toggle="#settings-sidebar,#user-main-panel"
         data-toggle-class="hide-sm">{% trans "Close Sidebar" %}</a>
      <ul class="menu">
        <li class="menu-item">
          <a href="">Community Settings</a>
          <a href="">Memberships</a>
          <a href="">Onboarding</a>
          <a href="" class="text-warning">Deactivate Community</a>
        </li>
      </ul>
    </div>
  </div>
  {% endblock %}
