{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}

{% block subtitle %} / {% trans "Community Index" %}{% endblock %}

{% block content %}

<h1 class="page-header mb-3">{% trans "Community Index" %}</h1>

{% include "includes/forms/search_form.html" with selector=False %}

{% for object in object_list %}
<div class="card mb-3">
  <div class="flex flex-wrap items-center mb-3">
    {% if object == community %}
    <span class="inline-block mr-2">
      {{ object.name }}
    </span>
    {% else %}
    <a class="inline-block mr-2"
       href="{{ object.get_absolute_url }}">{{ object.name }}</a>
    {% endif %}

    {% if object.is_member %}
    <span class="tag mr-2">{{ roles|from_dictkey:object.member_role }}</span>
    {% elif not object.allow_join_requests %}
    <span class="tag">{% trans "Invite Only" %}</span>
    {% endif %}
  </div>

  <div class="text-sm mb-3">
    {{ object.tagline|linebreaksbr }}
  </div>

  {% if community != object and object.is_member %}
  {% with num_notifications=counters.notifications|from_dictkey:object.id num_messages=counters.messages|from_dictkey:object.id num_join_requests=counters.join_requests|from_dictkey:object.id num_flags=counters.flags|from_dictkey:object.id object_url=object.get_absolute_url %}
  {% if num_notifications or num_messages or num_join_requests or num_flags %}
  <div class="card-footer border-t pt-3">
    <div class="flex flex-wrap items-center text-sm">
      {% if num_flags %}
      <a class="inline-block mr-2"
         href="{{ object_url }}{% url 'flags:list' %}">
        <span>{% trans "Flags" %}</span>
        <span class="tag tag-primary px-1">{% trans "New" %}</span>
      </a>
      {% endif %}
      {% if num_notifications %}
      <a class="mr-2"
         href="{{ object_url }}{% url 'notifications:list' %}">
        <span>{% trans "Notifications" %}</span>
        <span class="tag tag-primary px-1">{% trans "New" %}</span>
      </a>
      {% endif %}
      {% if num_messages %}
      <a class="mr-2"
         href="{{ object_url }}{% url 'private_messages:inbox' %}">
        <span>{% trans "Messages" %}</span>
        <span class="tag tag-primary px-1">{% trans "New" %}</span>
      </a>
      {% endif %}
      {% if num_join_requests %}
      <a class=""
         href="{{ object_url }}{% url 'join_requests:list' %}">
        <span>{% trans "Join Requests" %}</span>
        <span class="tag tag-primary px-1">{% trans "New" %}</span>
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endwith %}
  {% endif %}
</div>
{% endfor %}

{% include "includes/pagination.html" %}
{% endblock %}
