{% extends "communities/base.html" %}

{% load i18n %}
{% load account %}
{% load rules %}
{% load users_tags %}

{% block content %}
{% with member=object.member %}

{% user_display member as display_name %}

<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'communities:membership_list' %}">{% trans "Memberships" %}</a></li>
  <li class="breadcrumb-item"><a href="#">{{ display_name }}</a></li>
</ul>

<h3>{% avatar member "avatar-lg" %}{{ display_name }}</h3>

<div class="float-left-responsive">
  <div class="actions">

    {% if object.active %}
    <a href="{% url 'users:activities' member.username %}">{% trans "Activities" %}</a>
    <a href="{% url 'users:comments' member.username %}">{% trans "Comments" %}</a>
    <a href="{% url 'users:messages' member.username %}">{% trans "Messages" %}</a>
    {% endif %}
  </div>
</div>
<div class="float-right-responsive">
  {% has_perm "communities.change_membership" user object as can_change %}
  {% has_perm "communities.delete_membership" user object as can_delete %}
  {% include "communities/includes/membership_actions.html" with member=object %}
</div>
<div class="clearfix"></div>
<div class="divider"></div>

<dl>
  <dt>{% trans "Status" %}</dt>
  <dd>{{ object.active|yesno:"Active,Inactive" }}</dd>

  <dt>{% trans "Role" %}</dt>
  <dd>{{ object.get_role_display }}</dd>

  <dt>{% trans "Joined" %}</dt>
  <dd>{{ object.created|date:"SHORT_DATE_FORMAT" }}</dd>

</dl>

{% endwith %}
{% endblock content %}