{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "communities/base.html" %}

{% load i18n %}
{% load account %}
{% load rules %}
{% load users %}

{% block subtitle %} / {% trans "Memberships" %} / {% user_display membership.member %}{% endblock %}
{% block content %}
{% with member=object.member %}

{% user_display member as display_name %}

<ul class="breadcrumbs mb-3">
  <li class="breadcrumb-item">
    <a href="{% url 'communities:community_update' %}">{% trans "Site Settings" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'communities:membership_list' %}">{% trans "Memberships" %}</a>
  </li>
  <li class="breadcrumb-item">
    {{ display_name }}
  </li>
</ul>

{% user_display member as display_name %}

<h1 class="page-header flex flex-wrap items-center mb-3">
  {% avatar member "32" show_placeholder=False css_class="mr-2" %}
  {% if member.username == display_name %}
  @{{ display_name }}
  {% else %}
  {{ display_name }}
  (@{{ member.username }})
  {% endif %}
</h1>


<div class="page-nav border-b pb-3 mb-3">
  {% if object.active %}
  <a class="page-nav-item"
     href="{% url 'users:activities' member.username %}">{% trans "Activities" %}</a>
  <a class="page-nav-item"
     href="{% url 'users:comments' member.username %}">{% trans "Comments" %}</a>
  <a class="page-nav-item"
     href="{% url 'users:messages' member.username %}">{% trans "Messages" %}</a>
  {% endif %}
</div>

{% has_perm "communities.change_membership" user object as can_change %}
{% has_perm "communities.delete_membership" user object as can_delete %}

{% include "communities/includes/membership_actions.html" with member=object css_class="mb-3" %}

<dl class="text-sm">
  <dt>{% trans "Status" %}</dt>
  <dd>{{ object.active|yesno:"Active,Inactive" }}</dd>

  <dt>{% trans "Role" %}</dt>
  <dd>{{ object.get_role_display }}</dd>

  <dt>
    {% blocktrans with community_name=community.name %}
    Joined {{ community_name }}
    {% endblocktrans %}
  </dt>
  <dd>{{ object.created|date:"SHORT_DATE_FORMAT" }}</dd>

</dl>

{% endwith %}
{% endblock content %}
