{% extends "communities/base.html" %}

{% load i18n %}
{% load account %}

{% block settings_content %}
{% user_display membership.member as member %}
<h3>{% blocktrans %}Membership Settings for {{ member }}{% endblocktrans %}</h3>

<div class="col-6 col-sm-12">
  <form method="POST" action="{{ request.path }}" data-controller="form" data-action="form#submit">
    {% include "includes/forms/fields.html" %}
    <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}">
  </form>
</div>
{% endblock settings_content %}
