{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "communities/base.html" %}

{% load i18n %}
{% load account %}

{% block subtitle %} / {% trans "Memberships" %} / {% user_display membership.member %} /
{% trans "Edit" %}{% endblock %}

{% block content %}

{% user_display membership.member as display_name %}

<ul class="breadcrumbs mb-3">
  <li class="breadcrumb-item">
    <a href="{% url 'communities:community_update' %}">{% trans "Site Settings" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'communities:membership_list' %}">{% trans "Memberships" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'communities:membership_detail' membership.id %}">{{ display_name }}</a>
  </li>
  <li class="breadcrumb-item">
    <a data-turbolinks="false"
       href="#">Edit</a>
  </li>
</ul>

{% include "includes/forms/ajax_form.html" with submit_btn=_("Save Settings") %}
{% endblock content %}
