{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

{% blocktrans %}
<a href="{{ actor_url }}"
   data-controller="hovercard"
   data-hovercard-url="{{ actor_preview_url }}"
   data-action="mouseenter->hovercard#show mouseleave->hovercard#hide">
  {{ actor_display }}</a> has liked your <a href="{{ object_url }}">comment</a>.
{% endblocktrans %}
