{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load account %}
{% load users %}

<div class="card {{ css_class|default:"mb-3" }}"
     id="message-{{ message.id }}"
     data-controller="clipboard"
     data-clipboard-message="{% trans 'Markdown content has been copied' %}">

  <div class="flex flex-wrap items-center mb-3">
    {% include "users/includes/chip.html" with profile=message.sender profile_url=sender_url css_class="mr-2" %}
    <div class="mr-2 text-muted text-sm">
      {% trans "to" %}
    </div>
    {% include "users/includes/chip.html" with profile=message.recipient profile_url=recipient_url css_class="mr-2" %}
    <span class="mr-2 text-muted text-sm">
      {% blocktrans with created=message.created|timesince %}
      {{ created }} ago
      {% endblocktrans %}
    </span>
    {% if is_unread %}
    <div class="tag tag-primary">{% trans "New" %}</div>
    {% endif %}
  </div>

  {% collapsable is_detail %}
  <div class="markdown-content mb-3">
    {{ message.message.markdown|strip_external_images:user|lazify }}
  </div>
  {% endcollapsable %}
  <textarea data-target="clipboard.textarea"
            readonly
            class="hidden">{{ message.message }}</textarea>

  <div class="card-footer">
    <div class="flex flex-wrap items-center">
      <div class="mr-2 text-sm"
           data-controller="dropdown"
           data-action="click@window->dropdown#close keydown@window->dropdown#close">
        <button class="btn btn-dropdown"
                data-action="dropdown#toggle">
          {% trans "Actions..." %}
        </button>

        <div class="dropdown-menu hidden mt-1"
             data-target="dropdown.menu">

          {% if is_recipient and not message.read %}
          <a href="{% url 'private_messages:message_mark_read' message.id %}"
             class="dropdown-menu-item"
             data-turbolinks="false"
             data-controller="ajax"
             data-action="ajax#post"
             data-ajax-redirect="{{ request.get_full_path }}">{% trans "Mark As Read" %}</a>
          {% endif %}

          <div class="menu-item"
               data-controller="ajax"
               data-ajax-replace>
            {% include "private_messages/includes/bookmark.html" with object=message has_bookmarked=message.has_bookmarked %}
          </div>

          {% if can_reply %}
          <a href="{% url 'private_messages:message_reply' message.id %}"
             class="dropdown-menu-item">
            {% trans "Reply" %}
          </a>
          {% elif can_follow_up %}
          <a href="{% url 'private_messages:message_follow_up' message.id %}"
             class="dropdown-menu-item">
            {% trans "Follow-Up" %}
          </a>
          {% endif %}
          <a href="{% url 'private_messages:message_delete' message.id %}"
             class="dropdown-menu-item"
             data-turbolinks="false"
             data-controller="ajax"
             data-action="ajax#post"
             data-ajax-redirect="{{ post_delete_redirect|default:request.get_full_path }}"
             data-ajax-confirm-header="{% trans 'Delete Message' %}"
             data-ajax-confirm-body="{% trans "Are you sure you want to delete this message? Replies to this message will not be deleted. The message may still be available to the other person." %}">{% trans "Delete" %}</a>

          <a href="#"
             class="dropdown-menu-item"
             data-turbolinks="false"
             data-target="clipboard.button"
             data-action="clipboard#copy">
            {% trans "Copy Markdown" %}
          </a>
        </div>

      </div>
      {% if not is_detail %}
      <a class="inline-block mr-2 text-sm"
         href="{{ message_url }}">{% trans "Link" %}</a>
      {% if parent %}
      <a class="inline-block text-sm"
         href="{{ parent_url }}">{% trans "Parent" %}</a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
