{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}

{% block subtitle %} / {% trans "Favorites" %}{% endblock %}

{% block content %}

<h1 class="page-header mb-3">{% trans "Favorites" %}</h1>

<div class="tabs text-sm mb-3">
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'likes:activities' %}">{% trans "Activities" %}</a>
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'likes:comments' %}">{% trans "Comments" %}</a>
  </li>
</div>
{% block likes_content %}{% endblock %}
{% endblock content %}
