{% load i18n %}
<div class="tile tile-centered">
    <div class="tile-content">
        <div class="tile-title">
            {% with actor=notice.actor verb=notice.verb profile_url=notice.actor.get_profile_url object_url=notice.action_object.get_permalink %}
            {% if verb == "post_liked" %}
            {% blocktrans %}<a href="{{ profile_url }}">{{ actor }}</a> liked your <a href="{{ object_url }}">post</a>{% endblocktrans %}
            {% elif verb == "post_created" %}
            {% blocktrans %}<a href="{{ profile_url }}">{{ actor }}</a> published a <a href="{{ object_url }}">post</a>{% endblocktrans %}
            {% elif verb == "post_mentioned" %}
            {% blocktrans %}<a href="{{ profile_url }}">{{ actor }}</a> mentioned you in a <a href="{{ object_url }}">post</a>{% endblocktrans %}
             {% elif verb == "comment_created" %}
            {% blocktrans %}<a href="{{ profile_url }}">{{ actor }}</a> added a comment to your <a href="{{ object_url }}">post</a>{% endblocktrans %}
            {% elif verb == "comment_liked" %}
            {% blocktrans %}<a href="{{ profile_url }}">{{ actor }}</a> liked your <a href="{{ object_url }}">comment</a>{% endblocktrans %}
            {% elif verb == "comment_mentioned" %}
            {% blocktrans %}<a href="{{ profile_url }}">{{ actor }}</a> mentioned you in a <a href="{{ object_url }}">comment</a>{% endblocktrans %}
            {% endif %}
            {% endwith %}
        </div>
        <small class="tile-subtitle text-gray">
            {% blocktrans with since=notice.timesince %}{{ since }} ago{% endblocktrans %}
        </small>
    </div>
    {% if notice.unread %}
    <div class="tile-action">
        <a class="btn-btn-link" href="{% url 'notifications:mark_as_read' notice.slug %}?next={{ request.path }}">
            <i class="icon icon-check"></i>
        </a>
    </div>
    {% endif %}
</div>
