{% extends "content/base.html" %}
{% load i18n %}
{% load rules %}

{% block content_main_panel %}
{% has_perm 'content.create_post' request.user request.community as can_create_post %}
{% if can_create_post %}
<form method="POST" action="{% url 'content:create' %}">
    {% csrf_token %}
    {% include "shared/forms/fields.html" %}
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
</form>
{{ form.media }}
{% endif %}

{% for post in object_list %}
<div class="card mt-1">
  {% if post.title %}
  <div class="card-header">
    <div class="card-title h5">{{ post.title }}</div>
  </div>
  {% endif %}
  <div class="card-body">
    {{ post.markdown }}
  </div>
  <div class="card-footer"></div>
</div>
{% endfor %}
{% include "shared/pagination.html" %}
{% endblock content_main_panel %}
