{% extends "content/base.html" %}
{% block content_main_panel %}
{% if page_obj.number == 1 %}
{% has_perm 'content:create_post' user request.community as can_create_post %}
{% if can_create_post %}
{% url 'content:create' as create_post_url %}
<div class="new-post">
  <a href="{% url 'content:create' %}" class="btn btn-block">Share</a>
</div>
<div class="divider"></div>

{% elif not user.is_authenticated %}
<p class="bg-gray p-2 text-center">
  {% url 'account_login' as login_url %}
  {% blocktrans %}Please <a href="{{ login_url }}">sign in</a> to post content to this site.{% endblocktrans %}
</p>

{% else %}
<p class="bg-gray p-2 text-center">
  {% trans "You do not have permission to post to this site." %}
</p>
{% endif %}
{% endif %}

{% for post in object_list %}
<div data-ic-target="closest .post" class="mt-2 post" id="post-{{ post.id }}">
  {% include "content/includes/post_detail.html" %}
</div>
{% endfor %}


{% include "includes/pagination.html" with ic_target="#posts" %}
{% include "content/includes/post_delete_confirm_dialog.html" %}
{% endblock content_main_panel %}
