{% extends "content/base.html" %}
{% load i18n %}
{% load rules %}
{% block content_main_panel %}

<h2>{{ profile.username }}</h2>

<ul class="tab tab-block">
    <li class="tab-item active">
        <a href="#">Posts</a>
    </li>
    <li class="tab-item">
        <a href="{% url 'comments:profile' profile.username %}">Comments</a>
    </li>
</ul>

{% for post in object_list %}
<div class="mt-2">
    {% include "content/includes/post.html" %}
</div>
{% empty %}
<p class="p-2 bg-gray text-center">
    {% if is_own_profile %}
    {% trans "You have not posted any content yet" %}
    {% else %}
    {% trans "This user has not posted any content yet" %}
    {% endif %}
</p>
{% endfor %}


{% include "includes/pagination.html" %}
{% include "content/includes/post_confirm_delete.html" %}
{% endblock content_main_panel %}
