{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load rules %}
{% load users %}

{% block subtitle %} / {% user_display user_obj %} / {% trans "Likes" %}{% endblock %}

{% block content %}


<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ user_obj.get_absolute_url }}">
      {% user_display user_obj %}
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="#"
       data-turbolinks="false">{% trans "Likes" %}</a>
  </li>
</ul>

<h1 class="page-header">
  {% trans "Likes" %}
</h1>

<ul class="tab tab-block">
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'users:activity_likes' user_obj.username %}">{% trans "Activities" %}</a>
  </li>
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'users:comment_likes' user_obj.username %}">{% trans "Comments" %}</a>
  </li>
</ul>
{% block likes_content %}{% endblock %}
{% endblock %}
