{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load rules %}
{% load users %}

{% block subtitle %} / {% user_display user_obj %} / {% trans "Likes" %}{% endblock %}

{% block content %}


<ul class="breadcrumbs mb-3">
  <li class="breadcrumb-item">
    <a href="{{ user_obj.get_absolute_url }}">
      {% user_display user_obj %}
    </a>
  </li>
  <li class="breadcrumb-item">{% trans "Likes" %}
  </li>
</ul>

<h1 class="page-header mb-3">{% trans "Likes" %}</h1>

<div class="tabs text-sm mb-3">
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'users:activity_likes' user_obj.username %}">{% trans "Activities" %}</a>
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'users:comment_likes' user_obj.username %}">{% trans "Comments" %}</a>
</div>
{% block likes_content %}{% endblock %}
{% endblock %}
