{% load i18n %}
{% load account %}
{% load users_tags %}

{% if flags %}
<h5 class="mt-2">{% trans "The following users have flagged this comment" %}</h5>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>{% trans "Date" %}</th>
      <th>{% trans "User" %}</th>
      <th>{% trans "Reason" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for flag in flags %}
    <tr>
      <td>{{ flag.created|date }}</td>
      <td>
        <a href="{{ flag.user.get_absolute_url }}" target="_blank">
          {% user_display flag.user as username %}
          {% avatar flag.user %}
          {{ username }}
        </a>
      </td>
      <td>{{ flag.get_reason_display }}</td>
      <td>
          <div class="btn-group">
              <a href="{% url 'flags:delete' flag.id %}"
                 class="btn btn-sm"
                 data-controller="ajax"
                 data-action="ajax#delete">{% trans "Delete" %}</a>
          </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
