{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

{% if flags %}

<div class="my-3 border-t border-gray-500 pt-3 flex lg:justify-between">
  <h2 class="font-semibold">{% trans "Flags" %}</h2>
  <div class="page-nav mt-3 lg:mt-0">
    <a class="page-nav-item"
       href="{% url 'flags:list' %}">{% trans "See All Flags" %}</a>
  </div>
</div>

<table class="table-auto-scroll text-sm mb-3">
  <thead>
    <tr class="bg-gray-300">
      <th class="text-left border px-2 py-2">{% trans "Who/When" %}</th>
      <th class="text-left border px-2 py-2">{% trans "Why" %}</th>
      <th class="text-left border px-2 py-2">{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for flag in flags %}
    <tr class="{% cycle '' 'bg-gray-100' %} hover:bg-gray-200">
      <td class="border px-2 py-2">
        {% include "includes/timesince.html" with timestamp=flag.created owner=flag.user verb=None %}
      </td>
      <td class="border px-2 py-2">{{ flag.get_reason_display }}</td>
      <td class="border px-2 py-2">
        <div class="table-nav">
          <a class="table-nav-item"
             href="{% url 'flags:delete' flag.id %}"
             data-turbolinks="false"
             data-controller="ajax"
             data-action="ajax#post">{% trans "Delete" %}</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
