.content {
  &-actions {
    font-size: $font-size-sm;
    color: $gray-color-dark;
    a {
      color: $gray-color-dark;
    }
  }
}

.event-map {
  height: $map-height;
  &-lg {
    height: $map-height * 2;
  }
}

.wordwrap {
  word-wrap: break-word;
}

.form-label {
  font-weight: bold;
}

.menu-item.selected {
  @extend .bg-secondary;
}

.conversation-input {
  height: 2rem;
}

.menu-item a {
  color: $dark-color;
}

.navbar a {
  color: $dark-color;
}

.btn {
  color: $dark-color;
  border-color: $border-color-dark;
  &.btn-link {
    color: $dark-color;
  }
  &:visited {
    color: $dark-color;
  }
}

.chip a {
  color: $dark-color;
}

@mixin table-responsive-mixin() {
  // copied from table scroll, as we can't extend inside @media.
  display: block;
  overflow-x: auto;
  padding-bottom: 0.75rem;
  white-space: nowrap;
}

.table-responsive {
  &-xl {
    @media (max-width: $size-xl) {
      @include table-responsive-mixin();
    }
  }
  &-lg {
    @media (max-width: $size-lg) {
      @include table-responsive-mixin();
    }
  }
  &-md {
    @media (max-width: $size-md) {
      @include table-responsive-mixin();
    }
  }
  &-sm {
    @media (max-width: $size-sm) {
      @include table-responsive-mixin();
    }
  }
  &-xs {
    @media (max-width: $size-xs) {
      @include table-responsive-mixin();
    }
  }
}
