.content {
  &-actions {
    font-size: $font-size-sm;
    color: $gray-color-dark;
    a {
      color: $gray-color-dark;
    }
  }
}

.event-map {
  height: $map-height;
  &-lg {
    height: $map-height * 2;
  }
}

.wordwrap {
  word-wrap: break-word;
}

.form-label {
  font-weight: bold;
}

.menu-item.selected {
  @extend .bg-secondary;
}

.conversation-input {
  height: 2rem;
}

