.darkmode {
  color: $gray-color;

  .modal {
    &-container {
      color: $darkmode-text;
      background-color: $darkmode-darker;
    }
    &-title {
      color: $darkmode-text;
    }
    //&.active .modal-overlay {
      //background-color: $darkmode-lighter;
    //}
  }


  blockquote {
    border-left: $border-width-lg solid $gray-color;
  }

  a,
  a:visited {
    color: $darkmode-link;
  }

  .btn-block,
  .btn-secondary,
  .btn-link {
    background-color: $darkmode-lighter;
    border-color: $gray-color;
    color: $darkmode-link;
  }

  .navbar .btn {
    background-color: inherit;
    border: none;
  }

  .actions a {
    color: $darkmode-link;
    background-color: inherit;
  }

  .empty {
    background-color: $darkmode-darker;
    color: $darkmode-text;
  }

  .bg-gray {
    background-color: $darkmode-darker !important;
  }

  .bg-light {
    background-color: $darkmode-darker;
  }

  .form-input,
  .form-select {
    background-color: $darkmode-darker;
    color: $darkmode-text;
    &::placeholder {
      background-color: $darkmode-darker;
      color: $darkmode-text;
    }
  }

  .form-select:not([multiple]):not([size]) {
    background-color: $darkmode-darker;
  }

  .card {
    background-color: $darkmode-darker;
    border-color: $gray-color;
  }

  .chip {
    background-color: $darkmode-lighter;
  }

  .menu {
    background-color: $darkmode-lighter;

    .menu-item {
      &.selected {
        background-color: $darkmode-darker !important;
      }
      a {
        color: $darkmode-link;
        &.active,
        &:hover,
        &:visited {
          background-color: $darkmode-darker;
        }
      }
    }
  }

  .input-group-addon {
    background-color: $darkmode-lighter;
  }

  .badge {
    &[data-badge],
    &:not([data-badge]) {
      &::after {
        background: $link-color-dark;
      }
    }
  }

  .divider,
  .divider-vert {
    &[data-content]::after {
      background: $darkmode-lighter;
      color: $gray-color;
    }
    border-top: $border-width solid $gray-color;
  }

  .table.table-striped tbody {
    tr:nth-of-type(2n + 1),
    tr:hover {
      background-color: $darkmode-lighter;
    }
  }
}
