@mixin table-responsive-mixin() {
  td {
    display: flex;
    flex-direction: row;

    &:first-child {
      background: $bg-color-dark;
    }
  }
}

@mixin table-darkmode-responsive-mixin() {
  td {
    &:first-child {
      background: $darkmode-lighter;
    }
  }
}

@mixin float-right-responsive-mixin() {
  float: right !important;
}