.float-left-responsive {
  @media (min-width: $size-lg) {
    float: left !important;
  }
}

.float-right-responsive {
  @media (min-width: $size-lg) {
    float: right !important;

    .dropdown {
      .menu {
        left: auto;
        right: 0;
      }
    }
  }
}

.align-center {
  align-items: center;
}
