{% load i18n %}
<aside class="hidden lg:block text-sm lg:w-1/6">
  <ul class="border border-gray-500 p-3 bg-gray-100">
    <li><a href=""
           class="block p-1 hover:bg-gray-500 hover:text-white">{% trans "Activities" %}</a></li>
    <li class="">
      <a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">
        <span>Messages</span>
        <button class="inline-flex rounded-full bg-blue-600 text-white font-bold p-1 ml-2 h-6 w-6 justify-center text-xs">4</button>
      </a>
    </li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Notifications</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Comments</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Private Stash</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Bookmarks</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Gallery</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Calendar</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">My Profile</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Settings</a></li>
  </ul>

  <ul class="border border-gray-500 p-3 bg-gray-100 mt-4">
    <li class="p-1 text-black font-bold border-b border-gray-500 mb-2">Actions</li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Submit Post</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Submit Event</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Submit Photo</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Submit Poll</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Send Message</a></li>
  </ul>

  <ul class="border border-gray-500 p-3 bg-gray-100 mt-4">
    <li class="p-1 text-black font-bold">People</li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Members</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Following</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Followers</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Blocked</a></li>
  </ul>

  <ul class="border border-gray-500 p-3 bg-gray-100 mt-4">
    <li class="p-1 text-black font-bold">Community</li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">About Kotiseutu</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Terms</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Settings</a></li>
    <li><a href=""
         class="block p-1 hover:bg-gray-500 hover:text-white">Communities</a></li>
  </ul>

</aside>
