{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<div data-controller="collapsable"
     data-collapsable-class="opacity-75 h-32 md:h-48 lg:h-64 overflow-hidden cursor-pointer">
  <div data-target="collapsable.container"
       data-action="click->collapsable#toggle">
    {{ collapsable_content }}
  </div>

  <div class="flex justify-center items-center hidden my-3"
       data-target="collapsable.toggle">
    <button class="btn btn-link w-full text-sm"
            data-action="collapsable#toggle">{% trans "Show More" %}</button>

  </div>
</div>
