{% load i18n %}
<div class="modal" id="confirm-dialog">
  <a href="#" class="modal-overlay" aria-label="{% trans 'Close' %}" data-close-modal></a>
  <div class="modal-container">
    <div class="modal-header">
      <a href="#" class="btn btn-clear float-right" aria-label="{% trans 'Close' %}" data-close-modal></a>
      <div class="modal-title h5" data-confirm-title></div>
    </div>
    <div class="modal-body">
      <div class="content" data-confirm-content>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link" data-close-modal>{% trans "Cancel" %}</button>
      <button class="btn btn-primary" data-confirm-handler></button>
    </div>
  </div>
</div>


