{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
     data-controller="confirm-dialog"
     data-confirm-dialog-inactive-class="opacity-0 pointer-events-none"
     data-action="keydown@window->confirm-dialog#keydown">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

  <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto shadow-lg z-50 overflow-y-auto">
    <div class="modal-content py-4 text-left px-6">
      <div class="flex justify-between items-center">
        <h2 class="font-bold"
            data-target="confirm-dialog.header"></h2>
        <button class="modal-close cursor-pointer z-50"
                data-action="confirm-dialog#close">
          {% svg "x_circle" %}
        </button>
      </div>
      <p class="py-4"
         data-target="confirm-dialog.body">
      </p>
      <div class="flex items-center">
        <button class="btn btn-primary mr-2"
                data-action="confirm-dialog#confirm">{% trans "Yes, Please" %}</button>
        <button class="btn btn-secondary"
                data-action="confirm-dialog#close">{% trans "No, Cancel" %}</button>
      </div>
    </div>
  </div>

</div>
