{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

<footer class="p-2 mt-4 text-center bg-gray-900 text-gray-100 text-sm">
  &copy; Dan Jacob {% now "Y" %}. {% blocktrans %}Powered by <b>Localhub</b>, an open-source social network platform.
  <a class="underline text-white"
     href="https://gitlab.com/danjac/localhub/">Open software</a> licensed under
  <a class="underline text-white"
     href="http://www.affero.org/oagpl.html">AGPL</a>{% endblocktrans %}.
</footer>
