{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load communities %}

{% get_community_count user as communities_count %}

{% if user.is_authenticated %}

<div class="page-nav my-3 border-b pb-3">
  {% if external_site_counters.sent_join_requests %}
  <a class="page-nav-item"
     href="{% url 'join_requests:sent_list' %}">
    {% trans "Join Requests" %}
  </a>
  {% endif %}

  {% if external_site_counters.pending_invites %}
  <a class="page-nav-item"
     href="{% url 'invites:received_list' %}">
    <span>{% trans "Invites" %}</span>
    {% if external_site_counters.pending_invites %}
    <span class="tag tag-primary px-1">{% trans "New" %}</span>
    {% endif %}
  </a>
  {% endif %}

  {% if communities_count > 1 %}
  <a class="page-nav-item"
     href="{% url 'community_list' %}">
    <span>{% trans "Communities" %}</span>
    {% if external_site_counters.total %}
    <span class="tag tag-primary px-1">{% trans "New" %}</span>
    {% endif %}
  </a>
  {% endif %}

  <a class="page-nav-item"
     href="{% url 'user_update' %}">{% trans "Settings" %}</a>

</div>
{% endif %}
