{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load pagination %}
{% if is_paginated %}
<div class="text-sm flex justify-between {{ css_class|default:"mt-2" }}">
  <a {% if page_obj.has_previous %}
     class="block text-indigo-900 hover:text-indigo-700"
     href="{% pagination_url page_obj.previous_page_number %}"
     {% else %}
     class="text-gray-500 pointer-events-none"
     href="javascript:void(0);"
     {% endif %}>
    {% trans "Previous" %}
  </a>
  <a {% if page_obj.has_next %}
     href="{% pagination_url page_obj.next_page_number %}"
     class="block text-indigo-900 hover:text-indigo-700"
     {% else %}
     href="javascript:void(0);"
     class="text-gray-500 pointer-events-none"
     {% endif %}>
    {% trans "Next" %}
  </a>
</div>
{% endif %}
