{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load rules %}
{% load communities %}

{% get_community_count user as communities_count %}
{% test_rule "communities.is_member" user community as is_member %}


{% if is_member %}
<nav class="hidden lg:block text-sm w-full lg:w-1/6"
     data-target="sidebar.nav">

  <button class="btn btn-block lg:hidden mb-3 text-base"
          data-action="sidebar#toggle"
          data-target="sidebar.nav">
    {% trans "Close Menu" %}
  </button>


  {% has_perm "activities.create_activity" user community as can_create_activity %}
  {% has_perm "communities.moderate_community" user community as can_moderate_community %}
  {% has_perm "communities.manage_community" user community as can_manage_community %}
  {% has_perm "private_messages.create_message" user community as can_create_message %}

  <ul class="sidebar-menu">
    <li class="mb-1">
      <a href="{{ home_page_url }}"
         data-controller="active-link"
         data-active-link-exact
         class="sidebar-menu-item">{% trans "Activity Stream" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'private_messages:inbox' %}"
         data-controller="active-link"
         data-active-link-regex="{% url 'private_messages:inbox' %}|{% url 'private_messages:outbox' %}"
         class="sidebar-menu-item">
        <span>{% trans "Messages" %}</span>
        {% if site_counters.unread_messages %}
        <span class="tag tag-primary px-1">{% trans "New" %}</span>
        {% endif %}
      </a>
    </li>
    <li class="mb-1">
      <a href="{% url 'notifications:list' %}"
         data-controller="active-link"
         class="sidebar-menu-item">
        <span>{% trans "Notifications" %}</span>
        {% if site_counters.unread_notifications %}
        <span class="tag tag-primary px-1">{% trans "New" %}</span>
        {% endif %}
      </a>
    </li>
    <li class="mb-1">
      <a href="{% url 'comments:list' %}"
         data-controller="active-link"
         data-active-link-exact
         class="sidebar-menu-item">{% trans "Comments" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'activities:private' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Private Stash" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'bookmarks:activities' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Bookmarks" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'photos:gallery' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Gallery" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'events:calendar' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Calendar" %}</a>
    </li>
    <li class="mb-1 md:mb-0">
      <a href="{% url 'user_update' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Settings" %}</a>
    </li>
    <li class="mb-1 md:hidden">
      <a href="{% url 'account_logout' %}"
         class="sidebar-menu-item"
         data-turbolinks="false"
         data-controller="ajax"
         data-action="ajax#post"
         data-ajax-redirect="{{ home_page_url }}">{% trans "Logout" %}</a>
    </li>
  </ul>

  {% if can_create_activity or can_create_message %}
  <ul class="sidebar-menu mt-4">
    <li class="sidebar-menu-header mb-3">{% trans "Actions" %}</li>

    {% if can_create_activity %}
    <li class="mb-1">
      <a href="{% url 'posts:create' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Submit Post" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'events:create' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Submit Event" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'photos:create' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Submit Photo" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'polls:create' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Submit Poll" %}</a>
    </li>
    {% endif %}

    {% if can_create_message %}
    <li>
      <a href="{% url 'private_messages:message_create' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Send Message" %}</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}

  <ul class="sidebar-menu mt-4">
    <li class="sidebar-menu-header mb-3">{% trans 'Content' %}</li>
    <li class="mb-1">
      <a data-controller="active-link"
         class="sidebar-menu-item"
         href="{% url 'hashtags:list' %}">
        {% trans "Tags" %}
      </a>
    </li>
    <li class="mb-1">
      <a data-controller="active-link"
         data-active-link-exact
         class="sidebar-menu-item"
         href="{% url 'activities:timeline' %}">{% trans "Timeline" %}
      </a>
    </li>
    <li class="mb-1">
      <a data-controller="active-link"
         class="sidebar-menu-item"
         href="{% url 'likes:activities' %}">
        {% trans "Favorites" %}
      </a>
    </li>
    <li class="mb-1">
      <a data-controller="active-link"
         class="sidebar-menu-item"
         href="{% url 'users:activity_likes' user.username %}">{% trans "Likes" %}
      </a>
    </li>
    <li class="mb-1">
      <a data-controller="active-link"
         class="sidebar-menu-item"
         href="{% url 'users:activity_mentions' user.username %}">{% trans "Mentions" %}
      </a>
    </li>
    {% if can_moderate_community and site_counters.flags %}
    <li class="mb-1">
      <a data-controller="active-link"
         class="sidebar-menu-item"
         href="{% url 'flags:list' %}">
        {% trans "Flags" %}
        <span class="tag tag-primary px-1">{% trans "New" %}</span>
      </a>
    </li>
    {% endif %}
  </ul>

  <ul class="sidebar-menu mt-4">
    <li class="sidebar-menu-header mb-3">{% trans "People" %}</li>
    <li class="mb-1">
      <a href="{% url 'users:member_list' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Members" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'users:following_list' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Following" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'users:follower_list' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Followers" %}</a>
    </li>
    <li class="mb-1">
      <a href="{% url 'users:blocked_list' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Blocked" %}</a>
    </li>
  </ul>

  {% if can_manage_community or communities_count > 1 or community.description or community.terms %}
  <ul class="sidebar-menu mt-4">
    <li class="sidebar-menu-header mb-3">{% trans "Community" %}</li>

    {% if community.description %}
    <li class="mb-1">
      <a href="{% url 'communities:community_detail' %}"
         data-controller="active-link"
         class="sidebar-menu-item">
        {% trans "About This Site" %}
      </a>
    </li>
    {% endif %}

    {% if community.terms %}
    <li class="mb-1">
      <a href="{% url 'communities:community_terms' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Terms" %}</a>
    </li>
    {% endif %}

    {% if can_manage_community %}

    <li class="mb-1">
      <a href="{% url 'communities:community_update' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Site Settings" %}</a>
    </li>

    <li class="mb-1">
      <a href="{% url 'communities:membership_list' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Members" %}</a>
    </li>

    <li class="mb-1">
      <a href="{% url 'invites:list' %}"
         data-controller="active-link"
         class="sidebar-menu-item">{% trans "Invites" %}</a>
    </li>

    <li class="mb-1">
      <a href="{% url 'join_requests:list' %}"
         data-controller="active-link"
         class="sidebar-menu-item">
        <span>{% trans "Join Requests" %}</span>
        {% if site_counters.pending_join_requests %}
        <span class="tag tag-primary px-1">{% trans "New" %}</span>
        {% endif %}

      </a>
    </li>


    {% endif %}

    {% if communities_count > 1 %}
    <li>
      <a href="{% url 'community_list' %}"
         class="sidebar-menu-item">
        <span>{% trans "Community Index" %}</span>
        {% if external_site_counters.total %}
        <span class="tag tag-primary px-1">{% trans "New" %}</span>
        {% endif %}
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}

</nav>
{% endif %}
