{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<div class="flex items-center {{ css_class }}">
  {% if owner %}
  {% include "users/includes/chip.html" with profile=owner css_class="mr-2" %}
  {% endif %}
  <div class="inline-block text-sm text-muted">
    {% if verb %}
    {% blocktrans with created=timestamp|timesince %}{{ verb }} {{ created }} ago{% endblocktrans %}
    {% else %}
    {% blocktrans with created=timestamp|timesince %}{{ created }} ago{% endblocktrans %}
    {% endif %}
  </div>
</div>
