{% extends "base.html" %}
{% load i18n %}

{% block title %}Community Settings{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div id="settings-main-panel" class="column col-9 col-sm-12">
            <div class="show-sm hide-md float-right">
                <a href="#"
                   class="btn btn-link"
                   data-toggle="#settings-sidebar,#settings-main-panel"
                   data-toggle-class="hide-sm">{% trans "Sidebar" %}</a>
            </div>
            <div class="clearfix"></div>
            {% block settings_content %}{% endblock %}
        </div>
        <div id="settings-sidebar" class="column col-3 col-sm-12 hide-sm bg-gray p-2">
            <a href="#"
               class="btn btn-link show-sm hide-md"
               data-toggle="#settings-sidebar,#settings-main-panel"
               data-toggle-class="hide-sm">{% trans "Close Sidebar" %}</a>
            <ul class="menu">
                <li class="menu-item">
                    <a href="{% url 'communities:community_update' %}">{% trans "Community Settings" %}</a>
                    <a href="{% url 'communities:membership_list' %}">{% trans "Memberships" %}</a>
                    <a href="{% url 'invites:list' %}">{% trans "Invite New Members" %}</a>
                    <a href="{% url 'join_requests:list' %}">{% trans "Join Requests" %}</a>
                    <a href="" class="text-warning">{% trans "Deactivate Community" %}</a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}
