.markdown-content {
  word-wrap: break-word;

  img {
    @extend .img-responsive;
  }

  p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.markdownx {
  .tab-pane {
    min-height: 280px;
  }
}
