{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% if og_data %}
<div class="lg:flex">
  {% if og_data.image %}
  <a href="{{ post.url }}"
     {% if og_data.description %}
     class="block lg:inline-block mb-3 lg:mb-0 lg:w-1/3 h-auto lg:mr-2"
     {% endif %}
     rel="noopener"
     target="_blank">
    <img src="{{ og_data.image }}"
         alt="{{ post.title }}"
         loading="lazy"
         class="">
  </a>
  {% endif %}

  {% if og_data.description %}
  <blockquote class="block lg:inline-block text-sm lg:w-2/3">
    {{ og_data.description|html_unescape|urlize|truncatewords_html:300 }}
  </blockquote>
  {% endif %}
</div>
{% endif %}
