{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load static %}

<div class="markdownx"
     data-controller="tabs typeahead markdown"
     data-typeahead-selected-class="bg-gray-500 text-white"
     data-typeahead-config="{{ typeahead_config }}">
  <div class="tabs mb-3 text-sm">
    <button class="tab-item"
            type="button"
            data-target="tabs.tab"
            data-action="tabs#select"
            data-tab="editor">{% trans "Edit" %}</button>
    <button class="tab-item"
            type="button"
            disabled
            data-target="tabs.tab markdown.previewTab"
            data-action="tabs#select"
            data-tab="preview">{% trans "Preview" %}</button>
    <button class="tab-item"
            type="button"
            data-target="tabs.tab"
            data-action="tabs#select"
            data-tab="guide">
      {% trans "Help" %}</button>
  </div>
  <div class="-mb-px mb-3"
       data-target="tabs.pane"
       data-tab="editor">
    <div class="text-xs flex flex-wrap items-center mb-3">

      <a href="#"
         class="inline-block mr-2"
         data-action="markdown#select"
         data-markdown="**[SELECTION]**">{% trans "Bold" %}</a>

      <a href="#"
         class="inline-block mr-2"
         data-action="markdown#select"
         data-markdown="_[SELECTION]_">{% trans "Italic" %}</a>

      <a href="#"
         class="inline-block mr-2"
         data-action="markdown#select"
         data-markdown="[[SELECTION]](url)">{% trans "Link" %}</a>

      <a href="#"
         class="inline-block mr-2"
         data-action="markdown#select"
         data-markdown="![]([SELECTION])">{% trans "Image" %}</a>

      <a href="#"
         class="inline-block mr-2"
         data-action="markdown#select"
         data-markdown="> [SELECTION]">{% trans "Quote" %}</a>

      <a href="#"
         class="inline-block mr-2"
         data-action="markdown#select"
         data-markdown="`[SELECTION]`">{% trans "Code" %}</a>

      <a href="#"
         class="inline-block mr-2"
         data-action="markdown#select"
         data-multiline
         data-markdown="* [SELECTION]">{% trans "List (Bullets)" %}</a>

      <a href="#"
         class="inline-block mr-2"
         data-action="markdown#select"
         data-multiline
         data-markdown="1. [SELECTION]">{% trans "List (Numbers)" %}</a>

      <div class=""
           data-controller="dropdown"
           data-dropdown-toggle-class="hidden"
           data-action="click@window->dropdown#close keydown@window->dropdown#close">
        <button class="btn btn-dropdowbtn btn-dropdown"
                type="button"
                data-action="dropdown#toggle">
          {% trans "Emoji..." %}
        </button>
        <ul class="hidden dropdown-menu mt-1 overflow-y-scroll h-32"
            data-target="dropdown.menu">
          {% common_emojis as emoji_categories %}
          {% for category in emoji_categories %}
          <li class="border-b border-gray-800 pb-1 {% if not forloop.first %} mt-3{% endif %} font-semibold">{{ category.name }}</li>
          {% for emoji in category.emojis %}
          <li class="my-1">
            <a href="#"
               class="flex items-center"
               data-action="markdown#select"
               data-markdown="[SELECTION] {{ emoji.markdown }} ">
              <img src="{% static emoji.image %}"
                   loading="lazy"
                   height="16"
                   width="16"
                   class="inline-block mr-2">
              <span class="inline-block">
                {{ emoji.label }}
              </span>
            </a>
          </li>
          {% endfor %}
          {% endfor %}
        </ul>
      </div>

    </div>

    <ul class="hidden typeahead-menu text-sm"
        data-target="typeahead.selector"></ul>

    <textarea data-controller="autoresize"
              data-target="markdown.textarea typeahead.input"
              data-action="keyup->autoresize#resize keyup->typeahead#keyup keydown->typeahead#keydown keyup->markdown#togglePreviewTab"
              name="{{ widget.name }}"
              {% include "django/forms/widgets/attrs.html" %}>{% spaceless %}{% if widget.value %}{{ widget.value }}{% endif %}{% endspaceless %}</textarea>
    <p class="text-sm text-gray-700">
      You can use <a target="_blank"
         rel="nofollow noopener"
         href="https://www.markdownguide.org/basic-syntax">Markdown</a> to format your content.
    </p>
  </div>
  <div class="hidden markdownx-preview"
       data-target="tabs.pane"
       data-tab="preview"></div>
  <div class="hidden"
       data-target="tabs.pane"
       data-tab="guide">
    <table class="table-fixed text-sm block whitespace-no-wrap overflow-x-scroll md:w-full md:whitespace-normal md:overflox-x-auto md:table">
      <thead>
        <tr>
          <th class="border px-4 py-2 text-left bg-gray-200">{% trans "You type:" %}</th>
          <th class="border px-4 py-2 text-left bg-gray-200">{% trans "You see:" %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2"># Header</td>
          <td class="border px-4 py-2">
            <h1 class="text-2xl">{% trans "Header (h1)" %}</h1>
          </td>
        </tr>
        <tr class="bg-gray-100">
          <td class="border px-4 py-2">## Header</td>
          <td class="border px-4 py-2">
            <h2 class="text-xl">{% trans "Header (h2)" %}</h2>
          </td>
        </tr>
        <tr>
          <td class="border px-4 py-2">### Header</td>
          <td class="border px-4 py-2">
            <h3 class="text-lg">{% trans "Header (h3)" %}</h3>
          </td>
        </tr>
        <tr class="bg-gray-100">
          <td class="border px-4 py-2">*Bold*</td>
          <td class="border px-4 py-2"><strong>{% trans "Bold" %}</strong></td>
        </tr>
        <tr>
          <td class="border px-4 py-2">_Italic_</td>
          <td class="border px-4 py-2"><em>{% trans "Italic" %}</em></td>
        </tr>
        <tr class="bg-gray-100">
          <td class="border px-4 py-2">[Link text](http://example.com)</td>
          <td class="border px-4 py-2">
            <a data-turbolinks="false"
               href="javascript:void(0);">{% trans "Link" %}</a>
          </td>
        </tr>
        <tr>
          <td class="border px-4 py-2">![alt](https://example.com)</td>
          <td class="border px-4 py-2">
            {% trans "Image" %}
            <br>
            <b>{% trans "Note: only safe images (starting with https://) will be shown." %}</b>
          </td>
        </tr>
        <tr class="bg-gray-100">
          <td class="border px-4 py-2">@mention</td>
          <td class="border px-4 py-2">
            <a data-turbolinks="false"
               href="javascript:void(0);">@mention</a> {% trans "(link to profile)" %}
          </td>
        </tr>
        <tr>
          <td class="border px-4 py-2">#hashtag</td>
          <td class="border px-4 py-2">
            <a data-turbolinks="false"
               href="javascript:void(0);">#hashtag</a> {% trans "(link to hashtag)" %}
          </td>
        </tr>
        <tr class="bg-gray-100">
          <td class="border px-4 py-2">`Code`</td>
          <td class="border px-4 py-2"><code>{% trans "Code" %}</code></td>
        </tr>
        <tr>
          <td class="border px-4 py-2">&gt; Quote</td>
          <td class="border px-4 py-2">
            <blockquote>{% trans "Quote" %}</blockquote>
          </td>
        </tr>
        <tr class="bg-gray-100">
          <td class="border px-4 py-2">
            * List item 1 <br>
            * List item 2
          </td>
          <td class="border px-4 py-2">
            <ul>
              <li>List item 1</li>
              <li>List item 2</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="border px-4 py-2">
            1. List item 1 <br>
            1. List item 2
          </td>
          <td class="border px-4 py-2">
            <ol>
              <li>List item 1</li>
              <li>List item 2</li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-4 py-2 text-sm flex flex-wrap items-center">
      {% blocktrans %}
      <a class="inline-block mr-2"
         target="_blank"
         rel="nofollow"
         href="https://www.markdownguide.org/basic-syntax">Markdown Guide</a>
      <a target="_blank"
         class="inline-block"
         rel="nofollow"
         href="https://gist.github.com/rxaviers/7360908">More Emojis...</a>
      {% endblocktrans %}
    </div>
  </div>
</div>
