{% extends "invites/base.html" %}
{% load i18n %}


{% block content %}

<ul class="breadcrumbs mb-4">
  <li class="breadcrumb">
    <a href="{% url 'communities:community_update' %}">{% trans "Site Settings" %}</a>
  </li>
  <li class="breadcrumb">
    <a href="{% url 'invites:list' %}">{% trans "Invites" %}</a>
  </li>
  <li class="breadcrumb">
    {% trans "Send Invite" %}
  </li>
</ul>


<h1 class="page-header mb-4">Invite a new member</h1>
{% include "includes/forms/stimulusjs_form.html" with submit_btn=_("Send Invite") %}
{% endblock content %}
