{% extends "invites/base.html" %} {% load i18n %} {% block content %}

<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'communities:community_update' %}">{% trans "Site Settings" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'invites:list' %}">{% trans "Invites" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a data-turbolinks="false" href="#">{% trans "Send Invite" %}</a>
  </li>
</ul>

<h1 class="page-header">Invite a new member</h1>
{% include "includes/forms/stimulusjs_form.html" with submit_btn=_("Send Invite") %} {%
endblock content %}
