{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "invites/base.html" %}
{% load i18n %}
{% load rules %}
{% load invites %}

{% block content %}

<ul class="breadcrumbs mb-3">
  <li class="breadcrumb-item">
    <a href="{% url 'communities:community_update' %}">{% trans "Site Settings" %}</a>
  </li>
  <li class="breadcrumb-item">
    {% trans "Invites" %}
  </li>
</ul>


<h1 class="page-header mb-3">
  {% trans "Invites" %}{% if status_display %} / {{ status_display }}{% endif %}
</h1>

{% get_pending_invite_count user as pending_invites_count %}

<div class="page-nav mb-3">
  <a class="page-nav-item"
     href="{% url 'invites:create' %}">
    {% trans "Send an invite" %}
  </a>
  {% if pending_invites_count %}
  <a class="page-nav-item"
     href="{% url 'invites:received_list' %}">
    {% trans "Invites received" %}
  </a>
  {% endif %}
  {% if total_count %}
  {% if status %}
  <a class="page-nav-item"
     href="{{ request.path }}">{% trans "Show All" %}</a>
  {% endif %}
  {% for value, label in status_choices %}
  {% if status != value %}
  <a class="page-nav-item"
     href="{{ request.path }}?status={{ value }}">{{ label }}</a>
  {% endif %}
  {% endfor %}
  {% endif %}

</div>

{% if paginator.count or view.search_query %}
{% include "includes/forms/search_form.html" with selector=True %}
{% endif %}


{% if object_list %}
<table class="table-fixed text-sm block whitespace-no-wrap overflow-x-scroll md:w-full md:whitespace-normal md:overflow-x-auto md:table">
  <thead>
    <tr class="bg-gray-300 border">
      <th class="text-left py-2 px-2">{% trans "Email" %}</th>
      <th class="text-left py-2 px-2">{% trans "Sent" %}</th>
      <th class="text-left py-2 px-2">{% trans "Status" %}</th>
      <th class="text-left py-2 px-2">{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for invite in object_list %}
    <tr class="{% cycle '' 'bg-gray-100' %} hover:bg-gray-200">
      <td class="border py-2 px-2">
        {{ invite.email }}
      </td>
      <td class="border py-2 px-2">
        {% include "includes/timesince.html" with timestamp=invite.sent %}
      </td>
      <td class="border py-2 px-2">{{ invite.get_status_display }}</td>
      <td class="border py-2 px-2">
        <div class="table-nav">
          {% if invite.is_pending %}
          <a class="table-nav-item"
             href="{% url 'invites:resend' invite.id %}"
             data-turbolinks="false"
             data-controller="ajax"
             data-action="ajax#post">{% trans "Re-send" %}</a>
          {% endif %}
          <a class="table-nav-item"
             href="{% url 'invites:delete' invite.id %}"
             data-turbolinks="false"
             data-controller="ajax"
             data-action="ajax#post"
             data-ajax-confirm-header="{% trans 'Delete invite' %}"
             data-ajax-confirm-body="{% trans 'You sure you want to delete this invite?' %}">{% trans "Delete" %}</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
{% include "includes/empty.html" %}
{% endif %}


{% endblock content %}
