{% extends "invites/base.html" %}
{% load i18n %}


{% block content %}

<ul class="breadcrumbs mb-3">
  <li class="breadcrumb-item">
    <a href="{% url 'communities:community_update' %}">{% trans "Site Settings" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'invites:list' %}">{% trans "Invites" %}</a>
  </li>
  <li class="breadcrumb-item">
    {% trans "Send Invite" %}
  </li>
</ul>


<h1 class="page-header mb-3">Invite a new member</h1>
{% include "includes/forms/ajax_form.html" with submit_btn=_("Send Invite") %}
{% endblock content %}
