{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}
{% load rules %}

{% block content %}
<h1 class="page-header">{% trans "Invites" %}</h1>

{% has_perm "communities.manage_community" user community as can_manage_community %}

{% if can_manage_community %}
<div class="actions">
  <a class="action"
     href="{% url 'invites:list' %}">{% trans "Manage invites" %}</a>
</div>
{% endif %}

{% if object_list %}
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>{% trans "Community" %}</th>
      <th>{% trans "Sent" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for invite in object_list %}
    <tr>
      <td>
        {{ invite.community.name }}
      </td>
      <td>
        {% blocktrans with timestamp=invite.created|timesince %}
        {{ timestamp }} ago
        {% endblocktrans %}
      </td>
      <td>
        <div class="actions">
          <a class="action"
             href="{% url 'invites:accept' invite.id %}"
             data-turbolinks="false"
             data-controller="ajax"
             data-action="ajax#post">{% trans "Accept" %}</a>
          <a class="action"
             data-turbolinks="false"
             href="{% url 'invites:reject' invite.id %}"
             data-controller="ajax"
             data-action="ajax#post">{% trans "Reject" %}</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
{% include "includes/empty.html" %}
{% endif %}


{% endblock content %}
