{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/includes/actions.html" %}

{% load i18n %}
{% load rules %}

{% block extra_actions %}

{% has_perm "events.attend" user object as can_attend %}

{% if can_attend %}
<div data-controller="ajax" data-ajax-replace>
  {% include "events/includes/attend.html" with is_attending=object.is_attending %}
</div>
{% endif %}

{% if object.is_attendable %}
<a href="{% url 'events:download' object.id %}"
   class="dropdown-menu-item"
   data-turbolinks="false"
   download>
  {% trans 'Download' %}
</a>
{% endif %}

{% has_perm "events.cancel" user object as can_cancel %}
{% if can_cancel %}
<a href="{% url 'events:cancel' object.id %}"
   class="dropdown-menu-item"
   data-controller="ajax"
   data-action="ajax#post"
   {% if not is_detail %}
   data-ajax-redirect="{{ request.get_full_path }}"
   {% endif %}
   data-ajax-confirm-header="{% trans 'Cancel' %}"
   data-ajax-confirm-body="{% trans 'Are you sure you want to cancel this event?' %}">
  {% trans "Cancel Event" %}</a>
{% endif %}


{% endblock %}
