{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}


{% load i18n %}
{% if is_attending %}
<a href="{% url 'events:unattend' object.id %}"
   data-turbolinks="false"
   class="dropdown-menu-item line-through"
   data-target="ajax.button"
   data-action="ajax#post">{% trans "Attending" %}</a>
{% else %}
<a href="{% url 'events:attend' object.id %}"
   data-turbolinks="false"
   class="dropdown-menu-item"
   data-target="ajax.button"
   data-action="ajax#post">{% trans "Attending" %}</a>
{% endif %}
