{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<div class="border-gray-500 min-w-100">
  <div class="flex items-center justify-between bg-indigo-900 text-white px-4 py-2 font-semibold border-r border-l border-t border-gray-500">
    <a class="text-sm text-white hover:text-gray-200"
       href="{{ request.path }}?month={{ previous_month.month }}&year={{ previous_month.year }}">
      {% trans "Previous" %}
    </a>
    <div class="font-semibold">{{ current_month|date:"F Y" }}</div>
    <a class="text-sm text-white hover:text-gray-200"
       href="{{ request.path }}?month={{ next_month.month }}&year={{ next_month.year }}">
      {% trans "Next" %}
    </a>
  </div>
  <div class="flex flex-wrap justify-between text-center items-center py-4 px-0 bg-blue-600 text-white font-semibold border-r border-l border-gray-500">
    <div class="text-sm calendar-item">{% trans "Mon" %}</div>
    <div class="text-sm calendar-item">{% trans "Tue" %}</div>
    <div class="text-sm calendar-item">{% trans "Wed" %}</div>
    <div class="text-sm calendar-item">{% trans "Thu" %}</div>
    <div class="text-sm calendar-item">{% trans "Fri" %}</div>
    <div class="text-sm calendar-item">{% trans "Sat" %}</div>
    <div class="text-sm calendar-item">{% trans "Sun" %}</div>
  </div>
  <div class="flex flex-wrap border-l border-gray-500">
    {% for day, is_past, events in slots %}
    {% with num_events=events|length %}
    <div class="calendar-item text-xs{% if not day %} bg-gray-200{% elif day == today.day and is_current_month %} bg-blue-600 {% if num_events %}hover:bg-blue-500{% endif %} text-white{% elif num_events %} bg-indigo-900 text-white hover:bg-indigo-700{% endif %}{% if num_events %} cursor-pointer{% endif %}"
         {% if num_events %}
         data-controller="linkify"
         data-action="click->linkify#fetch"
         data-linkify-url="{% if num_events == 1 %}{{ events.0.get_absolute_url }}{% else %}{{ request.path }}?day={{ day }}&month={{ current_month.month }}&year={{ current_month.year }}{% endif %}"
         {% endif %}>
      {% if day %}
      {% comment %}
      {% elif can_create_activity %}
      {% endcomment %}
      {% if can_create_activity and not events %}
      <div class="h-10 lg:h-32 p-2 border-b border-r border-gray-500 cursor-pointer"
           data-controller="linkify"
           data-action="click->linkify#fetch"
           data-linkify-url="{% url 'events:create' %}?day={{ day }}&month={{ current_month.month }}&year={{ current_month.year }}">
        {% else %}
        <div class="h-10 lg:h-32 p-2 tracking-tight border-r border-b border-gray-500 align-middle">
          {% endif %}
          <button>
            {{ day }}
            <span class="lg:hidden ml-1">
              {% for event in events|slice:5 %}&middot;{% endfor %}
            </span>
          </button>
          <div class="clear-both"></div>
          {% if events %}
          <div class="hidden lg:block text-xs{% if is_past %} text-gray-500{% endif %}">
            {% for event in events|slice:":2" %}

            <div class="{% if not event.is_attendable %} line-through{% elif event.is_attending %} font-semibold{% endif %}">{{ event.title }}</div>

            {% endfor %}

            {% if num_events > 2 %}
            <div href="#">{{ num_events|add:"-2" }} {% trans "More..." %}
            </div>
            {% endif %}

          </div>
          {% endif %}
        </div>
        {% else %}
        <div class="h-10 lg:h-32 p-2 border-b border-r border-gray-500"></div>
        {% endif %}
      </div>
      {% endwith %}
      {% endfor %}
    </div>
  </div>
