{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}

{% block subtitle %} / {% trans "Bookmarks" %}{% endblock %}

{% block content %}

<h1 class="page-header mb-3">{% trans "Bookmarks" %}</h1>

<div class="tabs text-sm mb-3">
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'bookmarks:activities' %}">{% trans "Activities" %}</a>
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'bookmarks:messages' %}">{% trans "Messages" %}</a>
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'bookmarks:comments' %}">{% trans "Comments" %}</a>
</div>

{% if paginator.count or view.search_query %}
{% include "includes/forms/search_form.html" with selector=True %}
{% endif %}

{% block bookmarks_content %}{% endblock %}
{% endblock content %}
