{% load i18n %}
{% load rules %}

{% has_perm "comments.change_comment" user comment as can_change_comment %}
{% has_perm "comments.delete_comment" user comment as can_delete_comment %}
{% has_perm "comments.like_comment" user comment as can_like_comment %}

<div class="btn-group">
  {% if can_like_comment %}
  <a class="btn btn-sm btn-primary"
     href="#"
     data-controller="ajax"
     data-action="ajax#post"
     {% if comment.has_liked %}
     data-ajax-url="{% url 'comments:dislike' comment.id %}"
     {% else %}
     data-ajax-url="{% url 'comments:like' comment.id %}"
     {% endif %}
     data-ajax-redirect="{{ request.get_full_path }}"
     >
     {% if comment.has_liked %}
     <i class="icon icon-cross"></i>
     {% trans "Unlike" %}
     {% else %}
     <i class="icon icon-check"></i>
     {% trans "Like" %}
     {% endif %}
  </a>
  {% endif %}

  {% if can_change_comment %}
  <a class="btn btn-sm" href="{% url 'comments:update' comment.id %}">
    <i class="icon icon-edit"></i>
    {% trans "Update" %}
  </a>
  {% endif %}

  {% if can_delete_comment %}
  {% url 'comments:delete' comment.id as delete_url %}
  <a class="btn btn-sm"
     href="{{ delete_url }}"
     data-controller="ajax confirm"
     data-action="confirm#check ajax#delete"
     data-ajax-url="{{ delete_url }}"
     data-ajax-redirect="{{ request.get_full_path }}"
     data-confirm-header="{% trans 'Delete Comment' %}"
     data-confirm-body="{% trans 'Are you sure you want to delete this comment?' %}"
     ><i class="icon icon-delete"></i>
     {% trans "Delete" %}
  </a>
  {% endif %}
</div>

