{% load i18n %}
{% load rules %}
{% load likes_tags %}

{% has_perm "comments.change_comment" user comment as can_change_comment %}
{% has_perm "comments.delete_comment" user comment as can_delete_comment %}
{% has_perm "comments.like_comment" user comment as can_like_comment %}

<div class="card comment-card">
  <div class="card-header">
    <div class="card-subtitle text-gray float-right">
      {% blocktrans with comment.created|timesince as created %}{{ created }} ago{% endblocktrans %}
    </div>
    <div class="card-title h6"><a href="{{ comment.author.get_profile_url }}">{{ comment.author.username }}</a></div>
  </div>
  <div class="card-body">
    <div class="divider"></div>
    {{ comment.markdown }}
  </div>
  <div class="card-footer">
    <div class="divider"></div>

    <div class="d-flex content-actions">

      {% if comment.author_id == user.id %}
      <div class="mr-2">{% trans "Likes" %} ({{ comment.num_likes }})</div>
      {% elif can_like_comment %}
      <div class="mr-2">
        {% has_liked user comment as has_liked_comment %}
        <a href="#" data-like="{% url 'comments:like' comment.id %}">{% if has_liked_comment %}{% trans "Unlike" %}{% else %}{% trans "Like" %}{% endif %}</a>
      </div>
      {% endif %}

      <div class="mr-2">
        <a href="">{% trans "Flag" %}</a>
      </div>

      {% if can_change_comment %}
      <div class="mr-2">
        <a href="{% url 'comments:update' comment.id %}"
           >{% trans "Update" %}</a>
      </div>
      {% endif %}

      {% if can_delete_comment %}
      <div class="mr-2">
        {% url "comments:delete" comment.id as delete_url %}
        <a href="{{ delete_url }}"
           data-delete-from="{{ delete_url }}"
           data-delete-target=".comment-card"
           data-confirm-dialog="#confirm-comment-delete"
           data-confirm-trigger="confirm-delete"
           >{% trans "Delete" %}</a>
      </div>
      {% endif %}

      <div class="">
        <a href="{{ comment.get_permalink }}">{% trans "Permalink" %}</a>
      </div>
    </div>
  </div>

</div>
