{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load account %}
{% load rules %}
{% load users %}

{% has_perm "communities.moderate_community" user community as can_moderate_community %}

<article class="card {% if css_class %} {{ css_class }}{% endif %} {% if comment.is_blocked %} bg-gray-100{% endif %}"
         role="comment"
         data-controller="clipboard"
         data-clipboard-message="{% trans 'Markdown content has been copied' %}"
         id="comment-{{ comment.id }}">
  <div class="mb-3">
    {% if include_content_object %}
    <div class="flex flex-wrap items-center mb-3">
      {% if content_object %}
      <a class="inline-block font-semibold mr-2"
         href="{{ content_object.get_absolute_url }}">{{ content_object }}</a>
      <a class="tag hover:text-gray-300 mr-2"
         href="{{ content_object|resolve_url:"list" }}">{{ content_object|verbose_name|title }}</a>

      {% if can_moderate_community and comment.is_flagged %}
      <span class="tag bg-warning mr-2">{% trans "Flagged" %}</span>
      {% endif %}

      {% if comment.is_new %}
      <span class="tag tag-primary">{% trans "New" %}</span>
      {% endif %}

      {% else %}
      {% trans "[Deleted]" %}
      {% endif %}
      {% if can_moderate_community %}
      {% endif %}
    </div>
    {% endif %}
    <div class="flex flex-wrap items-center">
      {% url 'users:comments' comment.owner.username as owner_url %}
      {% include "includes/timesince.html" with profile_url=owner_url timestamp=comment.created owner=comment.owner css_class="mr-2" %}
      {% if comment.is_blocked %}
      <span class="tag tag-primary">{% trans "Blocked" %}</span>
      {% endif %}
      {% if not include_content_object and can_moderate_community and comment.is_flagged %}
      <span class="tag bg-warning mr-2">{% trans "Flagged" %}</span>
      {% endif %}
    </div>
  </div>
  {% if comment.is_blocked %}
  <div class="mb-3 cursor-pointer"
       data-controller="toggle"
       data-action="click->toggle#toggle">

    <p class="font-semibold p-5 text-center"
       data-target="toggle.togglable">
      {% trans "This comment is hidden because you have blocked this user." %}
    </p>

    <div class="markdown-content hidden"
         data-target="toggle.togglable">
      {{ comment.content.markdown|strip_external_images:user|lazify }}
    </div>

    <div data-target="toggle.togglable text-center align-middle py-3">
      <div class="flex justify-center items-center">
        <button class="btn btn-link w-full text-sm"
                data-action="toggle#toggle">{% trans "Show Comment" %}</button>
      </div>
    </div>
  </div>

  {% else %}
  <div class="mb-3">
    <textarea data-target="clipboard.textarea"
              readonly
              class="hidden">{{ comment.content }}</textarea>
    {% if comment.deleted %}
    <p>{% blocktrans %}This comment has been deleted by a community moderator{% endblocktrans %}</p>
    {% endif %}
    {% if show_content %}
    {% collapsable is_detail %}
    <div class="markdown-content">
      {{ comment.content.markdown|strip_external_images:user|lazify }}
    </div>
    {% endcollapsable %}
    {% endif %}
  </div>
  <div class="card-footer">
    <div class="flex flex-wrap items-center text-xs text-muted mb-3">
      {% if comment.num_likes %}
      <div class="mr-2">
        {{ comment.num_likes }}
        {% blocktrans count counter=comment.num_likes %}
        Like
        {% plural %}
        Likes
        {% endblocktrans %}
      </div>
      {% endif %}

      {% if comment.edited %}
      <div class="">
        {% blocktrans with edited=comment.edited|timesince %}Updated {{ edited }} ago{% endblocktrans %}
      </div>
      {% endif %}
    </div>
    <div class="flex flex-wrap items-center">
      <div class="text-sm mr-2"
           data-controller="dropdown"
           data-action="click@window->dropdown#close keydown@window->dropdown#close">
        <button class="btn btn-dropdown"
                data-action="dropdown#toggle">
          {% trans "Actions..." %}<i class="icon icon-caret"></i>
        </button>
        <div class="dropdown-menu mt-1 hidden"
             data-target="dropdown.menu">
          {% has_perm "comments.like_comment" user comment as can_like_comment %}
          {% if can_like_comment %}
          <div data-controller="ajax"
               data-ajax-replace>
            {% include "comments/includes/like.html" with object=comment has_liked=comment.has_liked %}
          </div>
          {% endif %}

          {% has_perm "comments.bookmark_comment" user comment as can_bookmark_comment %}
          {% if can_bookmark_comment %}
          <div data-controller="ajax"
               data-ajax-replace>
            {% include "comments/includes/bookmark.html" with object=comment has_bookmarked=comment.has_bookmarked %}
          </div>
          {% endif %}

          {% has_perm "comments.reply_to_comment" user comment as can_reply %}
          {% if can_reply %}
          <a class="dropdown-menu-item"
             href="{% url 'comments:reply' comment.id %}#comment-form">{% trans "Reply" %}</a>
          {% endif %}

          {% has_perm "comments.flag_comment" user comment as can_flag_comment %}
          {% if can_flag_comment and not comment.has_flagged %}
          <a class="dropdown-menu-item"
             href="{% url 'comments:flag' comment.id %}">
            {% trans "Flag" %}
          </a>
          {% endif %}
          {% has_perm "comments.change_comment" user comment as can_change_comment %}

          {% if can_change_comment %}
          <a class="dropdown-menu-item"
             href="{% url 'comments:update' comment.id %}#comment-form">
            {% trans "Edit" %}
          </a>
          {% endif %}
          {% has_perm "comments.delete_comment" user comment as can_delete_comment %}
          {% if can_delete_comment %}
          <a href="{% url 'comments:delete' comment.id %}"
             class="dropdown-menu-item"
             data-turbolinks="false"
             data-controller="ajax"
             data-action="ajax#post"
             {% if not is_detail %}
             data-ajax-redirect="{{ request.get_full_path }}"
             {% endif %}
             data-ajax-confirm-header="{% trans 'Delete Comment' %}"
             data-ajax-confirm-body="{% trans 'Are you sure you want to delete this comment?' %}">
            {% trans "Delete" %}
          </a>
          {% endif %}
          {% if not comment.is_blocked %}
          <a href="#"
             class="dropdown-menu-item"
             data-turbolinks="false"
             data-target="clipboard.button"
             data-action="clipboard#copy">
            {% trans "Copy Markdown" %}
          </a>
          {% endif %}
          </ul>
        </div>
      </div>
      <div>
        {% if not is_detail and not comment.deleted %}
        <a class="inline-block text-sm mr-2"
           href="{{ comment.get_absolute_url }}">{% trans "Link" %}</a>
        {% endif %}
        {% if parent %}
        <a class="inline-block text-sm"
           href="{{ parent.get_absolute_url }}">{% trans "Parent" %}</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
</article>
