{% load i18n %}
{% load rules %}
{% load likes_tags %}

{% has_perm "comments.change_comment" user comment as can_change_comment %}
{% has_perm "comments.delete_comment" user comment as can_delete_comment %}
{% has_perm "comments.like_comment" user comment as can_like_comment %}

{# IDEA: have "likeable" and "deletable" controllers e.g. data-deletable-url data-deletable-redirect etc #}
<div class="card comment-card"
     >
     <div class="card-header">
       <div class="card-subtitle text-gray float-right">
         {% blocktrans with comment.created|timesince as created %}{{ created }} ago{% endblocktrans %}
       </div>
  <div class="card-title h6"><a href="{{ comment.author.get_profile_url }}">{{ comment.author.username }}</a></div>
     </div>
     <div class="card-body">
       <div class="divider"></div>
       {{ comment.markdown }}
     </div>
     <div class="card-footer">
       <div class="divider"></div>

       <div class="d-flex content-actions">

         {% if comment.author_id == user.id %}
         <div class="mr-2">{% trans "Likes" %} ({{ comment.num_likes }})</div>
         {% elif can_like_comment %}
         <div class="mr-2">
           {% has_liked comment as has_liked_comment %}
           <a href="#"
              data-controller="fetch"
              data-action="fetch#send"
              data-fetch-url="{% url 'comments:like' comment.id %}"
              data-fetch-redirect="{{ request.get_full_path }}"
             >{% if has_liked_comment %}{% trans "Unlike" %}{% else %}{% trans "Like" %}{% endif %}</a>
         </div>
         {% endif %}

         <div class="mr-2">
           <a href="">{% trans "Flag" %}</a>
         </div>

         {% if can_change_comment %}
         <div class="mr-2">
           <a href="{% url 'comments:update' comment.id %}"
              >{% trans "Update" %}</a>
         </div>
         {% endif %}

         {% if can_delete_comment %}
         <div class="mr-2">
           <a href="#"
              data-controller="fetch"
              data-action="fetch#send"
              data-fetch-url="{% url 'comments:delete' comment.id %}"
              data-fetch-method="DELETE"
              data-fetch-confirm-header="{% trans 'Delete Comment' %}"
              data-fetch-confirm-body="{% trans 'Are you sure you want to delete this comment?' %}"
              >{% trans "Delete" %}</a>
         </div>
         {% endif %}

         <div class="">
           <a href="{{ comment.get_permalink }}">{% trans "Permalink" %}</a>
         </div>
       </div>
     </div>

</div>
