{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% if has_liked %}
<a href="{% url 'comments:dislike' object.id %}"
   class="dropdown-menu-item line-through"
   data-turbolinks="false"
   data-target="ajax.button"
   data-action="ajax#post">{% trans "Like" %}</a>
{% else %}
<a href="{% url 'comments:like' object.id %}"
   class="dropdown-menu-item"
   data-turbolinks="false"
   data-target="ajax.button"
   data-action="ajax#post">{% trans "Like" %}</a>
{% endif %}
