{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

{% if is_blocked %}
<a href="{% url 'hashtags:unblock' object.id %}"
   data-turbolinks="false"
   class="line-through"
   data-target="ajax.button"
   data-action="ajax#post">
  {% trans "Block" %}
</a>
{% else %}
<a href="{% url 'hashtags:block' object.id %}"
   data-turbolinks="false"
   data-target="ajax.button"
   data-action="ajax#post">
  {% trans "Block" %}
</a>
{% endif %}
