{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% if is_following %}
  <a href="{% url 'hashtags:unfollow' object.id %}"
     data-turbolinks="false"
     class="line-through"
     data-target="ajax.button"
     data-action="ajax#post">
    {% trans "Follow" %}
  </a>
{% else %}
  <a href="{% url 'hashtags:follow' object.id %}"
     data-turbolinks="false"
     data-target="ajax.button"
     data-action="ajax#post">
    {% trans "Follow" %}
  </a>
{% endif %}
