{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}

{% load i18n %}

{% block subtitle %} / {{ view.model|verbose_name_plural|title }} /
{% if object %}{{ object.title }} / {% trans "Edit" %}
{% else %}{% trans "Submit" %}{% endif %}{% endblock %}

{% block content %}

<div class="flex-wrap lg:flex items-center lg:justify-between mb-3">

  {% with list_url=view.model|resolve_url:"list" model_name_plural=view.model|verbose_name_plural|title model_name=view.model|verbose_name|title %}
  <ul class="breadcrumbs">

    {% if object %}

    {% if object.published %}
    <li class="breadcrumb-item">
      <a href="{{ list_url }}">{{ model_name_plural }}</a>
    </li>
    {% else %}
    <li class="breadcrumb-item">
      <a href="{% url 'activities:private' %}">{% trans "Private Stash" %}</a>
    </li>
    {% endif %}

    <li class="breadcrumb-item">
      <a href="{{ object.get_absolute_url }}">{{ object.title|truncatechars:60 }}</a>
    </li>

    <li class="breadcrumb-item">
      {% blocktrans %}Edit {{ model_name }}{% endblocktrans %}
    </li>

    {% else %}

    {% if view.is_private %}
    <li class="breadcrumb-item">
      <a href="{% url 'activities:private' %}">{% trans "Private Stash" %}</a>
    </li>
    {% else %}
    <li class="breadcrumb-item">
      <a href="{{ list_url }}">{{ model_name_plural }}</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item">
      {% blocktrans %}Submit {{ model_name }}{% endblocktrans %}
    </li>
    {% endif %}

  </ul>
  {% endwith %}


  {% if submit_actions %}
  <div class="page-nav mt-3 lg:mt-0">
    {% block actions %}
    {% for url, label in submit_actions %}
    <a class="page-nav-item"
       href="{{ url }}">{{ label }}</a>
    {% endfor %}
    {% endblock actions %}
  </div>
  {% endif %}
</div>


{% block form %}
{% include "activities/includes/activity_form.html" %}
{% endblock %}

{% endblock content %}
