{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}

{% load i18n %}
{% load rules %}
{% load activities %}
{% load comments %}

{% block subtitle %} / {{ object|verbose_name_plural|title }} / {{ object.title }}{% endblock %}

{% block content %}
{% with object|verbose_name|title as object_name %}

<div class="lg:flex lg:items-center lg:justify-between mb-3">
  {% block breadcrumbs %}
  <ul class="breadcrumbs">
    {% if object.published %}
    <li class="breadcrumb-item">
      <a href="{{ object|resolve_url:"list" }}">
        {{ object|verbose_name_plural|title }}
      </a>
    </li>
    {% else %}
    <li class="breadcrumb-item">
      <a href="{% url 'activities:private' %}">{% trans "Private Stash" %}</a>
    </li>
    {% endif %}
    <li class="breadcrumb-item">
      {{ object.title|truncatechars:60 }}
    </li>
  </ul>
  {% endblock breadcrumbs %}

  {% has_perm "activities.create_activity" user community as can_create_activity %}
  {% if can_create_activity %}
  <div class="page-nav mt-3 lg:mt-0">
    {% with action=object.published|yesno:"create,create_private" %}
    <a href="{{ object|resolve_url:action }}">
      {% blocktrans %}Submit New {{ object_name }}{% endblocktrans %}
    </a>
    {% endwith %}
  </div>
  {% endif %}
</div>

{% if comments.number == 1 %}
{% if object.deleted %}
<p class="toast text-center my-3">
  {% blocktrans %}
  This {{ object_name }} has been removed by a community moderator.
  {% endblocktrans %}
</p>
{% endif %}

{% block activities_detail_content %}
{% render_activity request user object is_detail=True reshares=reshares %}
{% endblock %}
{% include "flags/includes/flags.html" %}
{% endif %}

{% if object.published %}
<div class="comments mt-2"
     id="comments">
  {% if comments.paginator.count %}
  {% if comments.number == 1  %}
  <div class="divider text-center"
       data-content="{% trans "Comments" %}"></div>
  {% else %}
  {% include "includes/pagination.html" with css_class="mb-3" page_obj=comments is_paginated=True %}
  {% endif %}
  {% endif %}

  {% for comment in comments %}
  {% render_comment request user comment include_content_object=False css_class="mb-3" %}
  {% endfor %}

  {% if comments.number == 1 and comments.paginator.num_pages > 1 %}
  {% include "includes/pagination.html" with css_class="my-2" page_obj=comments is_paginated=True %}
  {% endif %}

  {% if comment_form %}
  {% include "includes/forms/ajax_form.html" with action=object|resolve_url:"comment" form=comment_form form_id="comment-form" %}
  {% elif not object.allow_comments %}
  <p class="toast text-center my-2">{% trans "Comments are locked" %}</p>
  {% elif object.published %}
  <p class="toast text-center my-2">
    {% trans "You do not have permission to post comments on this site." %}
  </p>
  {% endif %}

</div>
{% endif %}
{% endwith %}
{% endblock content %}
