{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "flags/flag_form.html" %}

{% load i18n %}

{% block content %}
<ul class="breadcrumb-item">
  <li class="breadcrumb-item"">
    <a
      href="{{ activity|resolve_url:"list" }}">{{ activity|verbose_name_plural|title }}</a>
  </li>
  <li class="breadcrumb-item""><a href="{{ activity.get_absolute_url }}">{{ activity|truncatechars:60 }}</a></li>
  <li class="breadcrumb-item"">
    <a data-turbolinks="false"
       href="#">{% trans "Flag" %}</a>
  </li>
</ul>

{{ block.super }}
{% endblock %}
