{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}

{% load i18n %}
{% load activities %}
{% load notifications %}
{% load users %}

{% block subtitle %} / {% trans "Activities" %} {% endblock %}

{% block content %}

{% if page_obj.number == 1 %}

{% if notifications %}
<div data-controller="notifications">
  {% for item in notifications %}
  {% notification item %}
  <div class="notification flex mb-3{% if not forloop.first %} hidden{% endif %}"
       data-target="notifications.notification">
    <div class="mx-auto text-center">
      {{ notification_content }}
    </div>

    <button data-action="notifications#dismiss"
            data-notifications-mark-read-url="{% url 'notifications:mark_read' item.id %}">
      {% svg "x_circle" "white" %}
    </button>
  </div>
  {% endnotification %}
  {% endfor %}
</div>
{% endif %}

{% get_pinned_activity user community as pinned %}
{% if pinned %}
{% render_activity request user pinned.object is_pinned=True css_class="mb-3" %}
{% endif %}

{% include "activities/includes/submit_cta.html" %}

{% if not user.show_embedded_content %}

{% dismissable user "embedded-content" %}
{% url 'user_update' as user_settings_url %}
{% blocktrans %}
You can view embedded content in your feed, for example YouTube videos, by checking the <b>Show embedded content</b>
option in your
<a href="{{ user_settings_url }}">user settings</a>.
{% endblocktrans %}
{% enddismissable %}

{% endif %}
{% endif %}

{% include "activities/includes/activity_list.html" %}
{% endblock content %}
