{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "base.html" %}
{% load i18n %}

{% block subtitle %} / {% trans "Timeline" %}{% endblock %}

{% block content %}
{% if date_filters or current_year or current_month %}
<ul class="breadcrumbs mb-3">
  {% if date_filters %}
  <li class="breadcrumb-item">
    <a href="{{ request.path }}?order={{ order }}">{% trans "All" %}</a>
  </li>
  {% endif %}
  {% if current_year %}
  <li class="breadcrumb-item">
    <a href="{{ request.path }}?order={{ order }}&year={{ current_year }}">{{ current_year }}</a>
  </li>
  {% for counter, name in months %}
  {% if counter|stringformat:"s" == current_month|stringformat:"s" %}
  <li class="breadcrumb-item">
    <a href="{{ request.path }}?order={{ order }}&month={{ counter }}&year={{ current_year }}">{{ name }}</a>
  </li>
  {% endif %}
  {% endfor %}
  {% endif %}
</ul>
{% endif %}

<h1 class="page-header mb-3">{% trans "Timeline" %}</h1>

{% if dates %}
<div class="page-nav mb-3">
  <a class="page-nav-item"
     href="{{ reverse_sort_url }}">
    {% if order == "desc" %}{% trans "Oldest First" %}{% else %}{% trans "Newest First" %}{% endif %}
  </a>
  {% if not current_year %}
  {% for year in years %}
  <a class="page-nav-item"
     href="{{ request.path }}?year={{ year }}&order={{ order }}">{{ year }}</a>
  {% endfor %}
  {% endif %}
  {% if not current_month %}
  {% for counter, name in months %}
  <a class="page-nav-item"
     href="{{ request.path }}?month={{ counter }}&year={{ current_year }}&order={{ order }}">{{ name }}</a>
  {% endfor %}
  {% endif %}
</div>
{% endif %}

{% if selected_dates %}
{% spaceless %}
<div class="notification font-bold mb-3">

  {% blocktrans count counter=paginator.count %}
  One activity was posted
  {% plural %}
  A total of {{ counter }} activities were posted
  {% endblocktrans %}
  {% with num_months=selected_months|length num_years=selected_years|length %}
  {% if num_months < 2 and num_years == 1 %}
  {% with earliest=selected_dates|first|date:"E Y" %}
  {% blocktrans %}
  in {{ earliest }}.
  {% endblocktrans %}
  {% endwith %}

  {% elif num_years == 1 %}
  {% with earliest=selected_dates|first|date:"E" latest=selected_dates|last|date:"E Y" %}
  {% blocktrans %}
  from {{ earliest }} to {{ latest }}.
  {% endblocktrans %}
  {% endwith %}

  {% else %}
  {% with earliest=selected_dates|first|date:"E Y" latest=selected_dates|last|date:"E Y" %}
  {% blocktrans %}
  from {{ earliest }} to {{ latest }}.
  {% endblocktrans %}
  {% endwith %}
  {% endif %}

  {% endwith %}
</div>
{% endspaceless %}
{% endif %}

{% if object_list %}

{% regroup object_list by month as months %}
{% for month, activities in months %}
<div class="mb-3 border-r border-l border-b border-gray-500">
  {% if months|length > 1 %}
  <div class="font-semibold text-center p-2 bg-indigo-800 text-white">{{ month }}</div>
  {% endif %}
  {% for activity in activities %}
  {% with object=activity.object object_type=activity.object_type %}
  <div class="p-3 hover:bg-gray-200 {% if forloop.first and months|length == 1 %} border-t {% endif %} {% if not forloop.last %} border-b border-gray-500{% endif %}{% cycle '' ' bg-gray-100' %}">
    <div class="flex flex-wrap items-center mb-3 text-sm">

      <a class="mr-2"
         href="{{ object.get_absolute_url }}">
        {{ object|truncatechars:100 }}
      </a>

      <a class="mr-2 tag inline-block mr-2 hover:text-gray-300"
         href="{{ object|resolve_url:"list" }}">
        {{ object_type|title }}
      </a>

      {% if object.is_reshare %}
      <span class="mr-2 tag">{% trans "Reshare" %}</span>
      {% endif %}
    </div>
    <div class="">
      {% include "includes/timesince.html" with timestamp=object.published owner=object.owner %}
    </div>
  </div>
  {% endwith %}
  {% endfor %}
</div>
{% endfor %}
{% include "includes/pagination.html" %}
{% else %}
{% trans "There are no items for this period" as t_empty %}
{% include "includes/empty.html" with empty_message=t_empty %}
{% endif %}
{% endblock content %}
