{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% spaceless %}

{% load static %}
{% load i18n %}
{% load rules %}
{% load thumbnail %}
{% load activities %}
{% load communities %}
{% load users %}

{% test_rule "communities.is_member" user community as is_member %}
{% has_perm "communities.view_community" user community as can_view_community %}

{% get_site_counters user community as site_counters %}
{% get_external_site_counters user community as external_site_counters %}

{% endspaceless %}

{% with site_counters_total=site_counters.total|add:external_site_counters.total %}

<!DOCTYPE html>
{% get_current_language as language_code %}
<html lang="{{ language_code }}">

<head>
  <title>
    {% spaceless %}{% block title %}{% if site_counters_total %}*{% endif %}{% if community %}{{ community.name }}{% endif %}{% block subtitle %}{% endblock %}{% endblock %}{% endspaceless %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="turbolinks-cache-control"
        content="no-cache">
  <meta name="copyright"
        content="Dan Jacob {% now "Y" %}">
  <meta name="description"
        content="Open source community web application">
  <meta name="keywords"
        content="open source,communities,private,local">
  <meta name="robots"
        content="index,follow">
  <link rel="icon"
        type="image/png"
        href="{% static 'favicon.png' %}">
  <link rel="apple-touch-icon image_src"
        href="{% static 'apple-touch-icon.png' %}">
  <link rel="stylesheet"
        href="{% static 'dist/app.css' %}">
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          defer
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>
  <script src="{% static 'dist/app.js' %}"></script>
</head>

<body class="h-screen container-lg mx-auto antialiased"
      data-controller="sidebar">

  {% block header %}
  <header class="bg-indigo-900 text-white">
    <div class="flex items-center justify-between p-2 md:px-5">
      {% if community %}
      <div class="flex items-center flex-shrink-0 mr-6">
        {% if is_member %}
        {% block mobile_menu_button %}
        <button class="lg:hidden mr-3"
                data-action="sidebar#toggle"
                type="button">
          {% svg "menu" "white" size="24" %}
        </button>
        {% endblock mobile_menu_button %}
        {% endif %}
        {% thumbnail community.logo "32" format="PNG" as logo %}
        <img src="{{ logo.url }}"
             class="mr-1 bg-transparent hidden lg:inline-block"
             height="32"
             width="32">
        {% endthumbnail %}
        <a href="{{ home_page_url }}"
           class="text-xl tracking-tight text-white hover:text-gray-100">{{ community.name }}</a>
      </div>
      {% endif %}
      {% if community and is_member %}
      <div class="hidden lg:block">
        <form method="GET"
              action="{% url 'activities:search' %}"
              data-controller="search"
              data-action="search#search">
          <input type="search"
                 placeholder="{% trans "Search..." %}"
                 data-target="search.input"
                 name="q"
                 class="appearance-none border border-gray-500 w-full p-1 text-gray-900">
        </form>
      </div>
      {% endif %}
      {% if user.is_authenticated %}
      <div>
        {% avatar user "32" css_class="inline-block mr-1" show_placeholder=False %}
        <a href="{{ user.get_absolute_url }}"
           class="inline-block text-white hover:text-gray-100 md:mr-2">
          {{ user.username }}
        </a>
        <a href="{% url 'account_logout' %}"
           class="hidden md:inline-block text-white hover:text-gray-100"
           data-turbolinks="false"
           data-controller="ajax"
           data-action="ajax#post"
           data-ajax-redirect="{{ home_page_url }}">{% trans "Logout" %}</a>
      </div>
      {% else %}
      <div>
        <a href="{% url 'account_login' %}"
           class="inline-block text-white hover:text-gray-100 mr-2">{% trans "Login" %}</a>
        <a href="{% url 'account_signup' %}"
           class="inline-block text-white hover:text-gray-100">{% trans "Signup" %}</a>
      </div>
      {% endif %}
    </div>

    {% block mobile_search %}
    {% if community and is_member %}
    <div class="px-2 md:px-5 pb-2 lg:hidden">
      <form method="GET"
            action="{% url 'activities:search' %}"
            data-controller="search"
            data-action="search#search">
        <input type="search"
               placeholder="{% trans "Search..." %}"
               data-target="search.input"
               name="q"
               class="appearance-none border border-gray-500 w-full p-1 text-gray-900">
      </form>
    </div>
    {% endif %}
    {% endblock mobile_search %}

  </header>
  {% endblock header %}


  {% block layout %}

  {% if messages %}
  <div class="flex justify-center">
    {% for message in messages %}
    <div class="absolute z-50 w-4/5 lg:w-1/3 flex items-center text-center p-3 message {{ message.tags }}"
         data-controller="alert">
      <div class="mx-auto text-center">
        {{ message }}
      </div>
      <button data-action="alert#dismiss"
              class="">
        {% svg "x_circle" "white" %}
      </button>
    </div>
    {% endfor %}
  </div>
  {% endif %}


  <div class="flex justify-center hidden"
       data-controller="toast">
    <div data-target="toast.container"
         class="fixed z-50 w-4/5 lg:w-1/3 flex items-center text-center p-3 message">
      <div class="mx-auto text-center"
           data-target="toast.message">
      </div>
      <button data-action="toast#dismiss"
              class="">
        {% svg "x_circle" "white" %}
      </button>
    </div>
  </div>

  {% if community.active and is_member %}
  <div class="mt-2 px-2 md:px-5 flex min-h-full">

    {% block sidebar %}
    {% include "includes/sidebar.html" %}
    {% endblock sidebar %}

    <div class="lg:ml-2 w-full lg:w-5/6 lg:block"
         data-target="sidebar.main">

      {% else %}
      <div class="container mx-auto flex justify-center min-h-full">
        <div class="w-full lg:w-3/5 mt-5 px-2 md:px-5">
          {% include "includes/no_sidebar_nav.html" %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
      {% endblock layout %}

      {% include "includes/footer.html" %}
      {% include "includes/confirm_dialog.html" %}

</body>

</html>
{% endwith %}
