{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% trans "Error" %}</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="turbolinks-cache-control"
        content="no-cache">
  <link rel="shortcut icon"
        type="image/x-icon"
        href="{% static 'favicon.png' %}">
  <script src="{% static 'dist/app.css' %}"></script>
  <script src="{% static 'dist/app.js' %}"></script>
</head>

<body class="h-screen container-lg mx-auto antialiased">

  <header class="flex items-center justify-between bg-indigo-900 text-white p-2 md:px-5 mb-6">
    <a href="{{ home_page_url }}"
       class="text-xl tracking-tight text-white hover:text-gray-100">{% trans "Home" %}</a>
  </header>
  <div class="h-full">
    <div class="border border-gray-500 mx-auto p-1 md:p-5 w-5/6 md:w-3/4 align-middle text-center">
      {% block content %}{% endblock %}
    </div>
  </div>
  {% include "includes/footer.html" %}
</body>

</html>
