{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "includes/forms/ajax_form.html" %}

{% load i18n %}
{% load users %}

{% block form_buttons %}
{% if view.is_new %}
{% if view.is_private %}
{{ block.super }}
{% else %}
<button type="submit"
        name="submit"
        class="btn btn-primary mr-2">
  {% trans "Publish" %}
</button>
<button type="submit"
        name="save_private"
        value="true"
        data-action="form#submit"
        class="btn btn-secondary">
  {% trans "Save Private" %}
</button>
{% endif %}
{% else %}
{{ block.super }}
{% endif %}
{% endblock form_buttons %}
