{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load rules %}

<div class="text-sm mr-2"
     data-controller="dropdown"
     data-action="click@window->dropdown#close keydown@window->dropdown#close">
  <button class="btn btn-dropdown"
          data-action="dropdown#toggle">
    {% trans "Actions..." %}
  </button>
  <div class="dropdown-menu mt-1 hidden"
       data-target="dropdown.menu">

    {% has_perm "activities.pin_activity" user object as can_pin %}

    {% if can_pin %}
    {% if object.is_pinned %}
    <a class="dropdown-menu-item line-through"
       href="{{ object|resolve_url:"unpin" }}"
       class="line-through"
       data-turbolinks="false"
       data-controller="ajax"
       data-action="ajax#post">{% trans "Pin" %}</a>
    {% else %}
    <a class="dropdown-menu-item"
       href="{{ object|resolve_url:"pin" }}"
       data-turbolinks="false"
       data-controller="ajax"
       data-action="ajax#post">{% trans "Pin" %}</a>
    {% endif %}
    {% endif %}

    {% if not is_detail %}

    {% has_perm "activities.create_comment" user object as can_create_comment %}
    {% if can_create_comment %}
    <a class="dropdown-menu-item"
       href="{{ object|resolve_url:"comment" }}#comment-form">
      {% trans "Comment" %}
    </a>
    {% endif %}
    {% endif %}

    {% has_perm "activities.like_activity" user object as can_like %}
    {% if can_like %}
    <div data-controller="ajax" data-ajax-replace>
      {% include "activities/includes/like.html" with has_liked=object.has_liked %}
    </div>
    {% endif %}

    {% has_perm "activities.bookmark_activity" user object as can_bookmark %}
    {% if can_bookmark %}
    <div data-controller="ajax"
         data-ajax-replace>
      {% include "activities/includes/bookmark.html" with has_bookmarked=object.has_bookmarked %}
    </div>
    {% endif %}

    {% if not object.has_reshared %}
    {% has_perm "activities.reshare_activity" user object as can_reshare %}
    {% if can_reshare %}
    <a class="dropdown-menu-item"
       data-controller="ajax"
       data-turbolinks="false"
       data-action="ajax#post"
       href="{{ object|resolve_url:"reshare" }}">{% trans "Reshare" %}</a>
    {% endif %}
    {% endif %}

    {% has_perm "activities.flag_activity" user object as can_flag %}
    {% if can_flag and not object.has_flagged %}
    <a class="dropdown-menu-item"
       href="{{ object|resolve_url:"flag" }}">
      {% trans "Flag" %}
    </a>
    {% endif %}

    {% has_perm "activities.change_activity" user object as can_change %}
    {% if can_change %}

    {% if not object.published %}
    <a class="dropdown-menu-item"
       data-controller="ajax"
       data-turbolinks="false"
       data-action="ajax#post"
       data-ajax-confirm-header="{% trans 'Publish' %}"
       data-ajax-confirm-body="{% blocktrans trimmed %}Are you sure you want to publish this {{ object_type }}? You cannot reverse this action.{% endblocktrans %}"
       href="{{ object|resolve_url:"publish" }}">{% trans "Publish" %}</a>
    {% endif %}
    <a class="dropdown-menu-item"
       href="{{ object|resolve_url:"update" }}">{% trans "Edit" %}</a>
    {% endif %}

    {% has_perm "activities.change_activity_tags" user object as can_change_tags %}
    {% if can_change_tags %}
    <a class="dropdown-menu-item"
       href="{{ object|resolve_url:"update_tags" }}">{% trans "Edit Tags" %}</a>
    {% endif %}

    {% has_perm "activities.delete_activity" user object as can_delete %}
    {% if can_delete %}
    <a class="dropdown-menu-item"
       href="{{ object|resolve_url:"delete" }}"
       data-turbolinks="false"
       data-controller="ajax"
       data-action="ajax#post"
       {% if not is_detail %}
       data-ajax-redirect="{{ request.get_full_path }}"
       {% endif %}
       data-ajax-confirm-header="{% trans 'Delete' %}"
       data-ajax-confirm-body="{% blocktrans %}Are you sure you want to delete this {{ object_type }}?{% endblocktrans %}">
      {% trans "Delete" %}</a>
    {% endif %}

    {% if object.description %}
    <a class="dropdown-menu-item"
       href="#"
       data-turbolinks="false"
       data-target="clipboard.button"
       data-action="clipboard#copy">
      {% trans "Copy Markdown" %}
    </a>
    {% endif %}
    {% block extra_actions %}{% endblock %}
  </div>
</div>
