{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

<div class="card{% if activity_css_class %} {{ activity_css_class }}{% endif %}"
     data-controller="clipboard"
     data-clipboard-message="{% trans 'Markdown content has been copied' %}">
  <div class="mb-3">
    <div class="text-blue-800 hover:text-blue-700 font-semibold flex flex-wrap items-center mb-3">
      {% block title %}
      <span class="mr-2 tracking-tight">
        {% if object.url %}
        {{ object.url|linkify:object.title }}
        {% else %}
        <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
        {% endif %}
      </span>
      <a class="tag inline-block mr-2 hover:text-gray-300"
         href="{{ object|resolve_url:"list" }}">
        {{ object_type|title }}
      </a>

      <span class="tag inline-block">{% trans "Pinned" %}</span>
    </div>
    {% endblock title %}
    <div class="">
      {% block timesince %}
      {% include "includes/timesince.html" with owner=object.owner timestamp=object.published %}
      {% endblock timesince %}
    </div>
  </div>
  <div class="card-footer">
    <div class="flex-items-center">
      {% block info %}{% include "activities/includes/info.html" %}{% endblock %}
    </div>
    {% if object.description %}
    <textarea data-target="clipboard.textarea"
              readonly
              class="hidden">{{ object.description }}</textarea>
    {% endif %}
    <div class="flex items-center">
      {% block actions %}{% include "activities/includes/actions.html" %}{% endblock %}
      {% block links %}{% include "activities/includes/links.html" %}{% endblock %}
    </div>
  </div>
</div>
