{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load rules %}
{% load hashtags %}
{% load activities %}
{% load users %}

{% has_perm "communities.moderate_community" user community as can_moderate_community %}

<article role="{{ object_type }}"
         id="{{ object_type }}-{{ object.id }}"
         class="card{% if activity_css_class %} {{ activity_css_class }}{% endif %}"
         data-controller="clipboard{% if is_content_sensitive %} toggle{% endif %}"
         data-clipboard-message="{% trans 'Markdown content has been copied' %}">
  {% block header %}
  {% if is_content_sensitive %}
  <div class=""
       data-target="toggle.togglable">
    <div class="">
      {% include "includes/timesince.html" with timestamp=object.published|default:object.created owner=object.owner %}
    </div>
  </div>
  <div class="hidden"
       data-target="toggle.togglable">
    {% else %}
    <div class="mb-3">
      {% endif %}

      {% if object.is_reshare %}

      <div class="my-3 tracking-tight pb-4 border-b border-gray-500">
        {% include "includes/timesince.html" with timestamp=object.published|default:object.created owner=object.owner verb="reshared" %}
      </div>
      {% endif %}

      <div class="font-semibold flex flex-wrap items-center mb-3">

        {% block title %}

        <div class="tracking-tight flex flex-wrap items-center break-words">

          {% if is_detail %}

          {% block detail_title %}
          <span class="inline-block mr-2">
            {% if object.url %}
            {{ object.url|linkify:object.title }}
            {% else %}
            {{ object.title|linkify_hashtags:"mr-1"|linkify_mentions:"mr-1" }}
            {% endif %}
          </span>
          {% endblock %}

          {% else %}

          {% with object.title|truncatechars:130 as object_title %}

          {% block list_item_title %}
          {% if object.url %}
          <span class="inline-block mr-2">
            {{ object.url|linkify:object.title }}
          </span>
          {% else %}
          <a class="inline-block mr-2"
             href="{{ object.get_absolute_url }}">{{ object_title }}</a>
          {% endif %}
          {% endblock %}

          {% endwith %}

          {% endif %}

          <a class="tag inline-block mr-2 hover:text-gray-300"
             href="{{ object|resolve_url:"list" }}">
            {{ object_type|title }}
          </a>

          {% if not object.published %}
          <a class="tag inline-block mr-2 hover:text-gray-300"
             href="{% url 'activities:private' %}">
            {% trans "Private" %}
          </a>
          {% endif %}


          {% if can_moderate_community and object.is_flagged %}
          <span class="tag inline-block mr-2">{% trans "Flagged" %}</span>
          {% endif %}

          {% if object.is_new %}
          <span class="tag tag-primary inline-block">{% trans "New" %}</span>
          {% endif %}

        </div>
        {% endblock title %}

      </div>

      <div class="flex flex-wrap items-center mb-3">
        {% if object.parent %}
        {% include "includes/timesince.html" with timestamp=object.parent.published|default:object.created owner=object.parent.owner %}
        {% elif not object.is_reshare %}
        {% include "includes/timesince.html" with timestamp=object.published|default:object.created owner=object.owner %}
        {% endif %}
      </div>

      {% if object.url or object.hashtags or object.mentions %}
      <div class="flex flex-wrap items-center text-sm">
        {% if object.url %}
        <div class="mr-2">
          {{ object.url|domain|linkify }}
        </div>
        {% endif %}
        {% if object.hashtags %}
        <div class="mr-2">
          {{ object.hashtags|linkify_hashtags:"mr-1" }}
        </div>
        {% endif %}
        {% if object.mentions %}
        <div class="">
          {{ object.mentions|linkify_mentions:"mr-1" }}
        </div>
        {% endif %}
      </div>
      {% endif %}

    </div>
    {% endblock header %}

    {% block body %}
    <div class="mb-3">
      {% if object.is_reshare and not object.parent or object.parent.deleted %}
      {% trans "[Deleted]" %}
      {% else %}
      {% if is_content_sensitive %}
      <div class="bg-gray-800 align-middle text-center text-white my-4 p-5"
           data-target="toggle.togglable">
        <p class="mb-3 text-lg font-semibold">{% trans "Sensitive Content" %}</p>
        <p class="mb-3">
          {% trans "This post has been tagged sensitive. You can view all sensitive content by default in your settings." %}
        </p>
        <p>
          {% for tag in object.get_content_warning_tags %}
          #{{ tag }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        <div class="">
          <button class="btn btn-primary"
                  data-action="toggle#toggle">{% trans "Show Content" %}</button>
        </div>
      </div>
      <div class="hidden"
           data-target="toggle.togglable">
        {% endif %}
        {% with ignore_collapsable=is_detail|default:is_content_sensitive %}
        {% collapsable ignore_collapsable %}
        {% block content %}{% endblock %}
        {% endcollapsable %}
        {% endwith %}
        {% if is_content_sensitive %}</div>{% endif %}
      {% endif %}
    </div>
    {% endblock body %}

    {% block footer %}

    <div class="card-footer">
      {% block info %}{% include "activities/includes/info.html" %}{% endblock %}
      <div class="flex items-center">
        {% block actions %}{% include "activities/includes/actions.html" %}{% endblock %}
        {% block links %}{% include "activities/includes/links.html" %}{% endblock %}
      </div>
    </div>
    {% endblock footer %}
</article>
