{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

<div class="flex flex-wrap items-center text-xs text-muted mb-3">
  {% with num_comments=object.num_comments|default:0 object_url=object.get_absolute_url %}
  {% if num_comments %}
  <div class="mr-2">
    {% if not is_detail %}
    <a href="{{ object_url }}#comments">
      {% endif %}
      {{ num_comments }} {% blocktrans count counter=num_comments %}Comment{% plural %}Comments{% endblocktrans %}
      {% if not is_detail %}
    </a>
    {% endif %}
  </div>
  {% endif %}
  {% endwith %}

  {% if not is_detail and object.num_reshares %}
  <div class="mr-2">
    {{ object.num_reshares }} {% blocktrans count counter=object.num_reshares %}Reshare{% plural %}Reshares {% endblocktrans %}
  </div>
  {% endif %}

  {% if object.num_likes %}
  <div class="mr-2">
    {{ object.num_likes }} {% blocktrans count counter=object.num_likes %}Like{% plural %}Likes{% endblocktrans %}
  </div>
  {% endif %}

  {% if object.edited and object.published and object.edited > object.published %}
  <div class="mr-2">
    {% blocktrans with edited=object.edited|timesince %}Updated {{ edited }} ago{% endblocktrans %}
  </div>
  {% endif %}
  {% block extra_info %}{% endblock %}

</div>
{% if is_detail %}
{% with num_reshares=reshares.count %}

{% if num_reshares %}
<div class="flex items-center mb-3">

  <span class="text-xs text-muted mr-2">
    {% trans "Reshares" %}
  </span>

  {% for reshare in reshares %}
  {% include "users/includes/chip.html" with css_class="mr-2" profile=reshare.owner profile_url=reshare.get_absolute_url %}&nbsp;
  {% endfor %}
</div>
{% endif %}

{% endwith %}
{% endif %}
