{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}
{% load i18n %}
{% if has_liked %}
<a class="dropdown-menu-item line-through"
   href="{{ object|resolve_url:"dislike" }}"
   data-turbolinks="false"
   data-target="ajax.button"
   data-action="ajax#post">{% trans "Like" %}</a>
{% else %}
<a class="dropdown-menu-item"
   href="{{ object|resolve_url:"like" }}"
   data-turbolinks="false"
   data-target="ajax.button"
   data-action="ajax#post">{% trans "Like" %}</a>
{% endif %}
