{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load rules %}
{% load users %}

{% has_perm "activities.create_activity" user community as can_create_activity %}
{% if can_create_activity %}

<div class="flex items-center border border-gray-500 cursor-pointer {{ css_class }}"
     data-controller="linkify"
     data-action="click->linkify#fetch"
     data-linkify-url="{% if submit_url %}{{ submit_url }}{% elif is_private %}{% url 'posts:create_private' %}{% else %}{% url 'posts:create' %}{% endif %}">
  <div class="px-2 py-2 border-r border-gray-500">
    {% avatar user "32" css_class="w-6 h-6" %}
  </div>
  <div class="p-1 w-full">
    <input class="appearance-none flex-grow p-1 inline-block w-100 pointer-events-none w-full"
           data-action="focus->linkify#fetch keydown->linkify#fetch"
           placeholder="What's on your mind?">
  </div>
</div>
{% endif %}
