{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
<div>
  <div data-target="opengraph-preview.container">
    {% include "posts/includes/opengraph_preview.html" %}
  </div>

  <div class="flex items-center">
    <div class="flex-grow">
      {% include "django/forms/widgets/input.html" %}
    </div>
    <button type="button"
            class="btn btn-input-addon"
            title="{% trans 'Fetch content from URL' %}"
            disabled
            data-target="opengraph-preview.fetchButton"
            data-action="opengraph-preview#fetch">
      {% svg "download" %}
    </button>
    <button type="button"
            class="btn btn-input-addon"
            title="{% trans 'Remove content from URL' %}"
            {% if not preview.description and not preview.image %}
            disabled
            {% endif %}
            data-target="opengraph-preview.clearButton"
            data-action="opengraph-preview#clear">
      {% svg "x" %}
    </button>
  </div>
</div>
