{% extends "help_pages/base.html" %}
{% load i18n %}
{% block help_content %}

{# List all URLs here #}
{% url 'activities:stream' as home_page_url %}
{% url 'activities:timeline' as timeline_url %}
{% url 'posts:create' as post_create_url %}
{% url 'events:create' as event_create_url %}
{% url 'photos:create' as photo_create_url %}
{% url 'user_update' as user_update_url %}
{% url 'likes:activities' as 'favorites_url' %}
{% url 'flags:list' as flags_url %}

<ul>
  <li><a data-turbolinks="false" href="#posts-events-and-photos">Posts, events and photos</a></li>
  <li><a data-turbolinks="false" href="#home-page">Home page</a></li>
  <li><a data-turbolinks="false" href="#timeline">Timeline</a></li>
  <li><a data-turbolinks="false" href="#adding-content">Adding new content</a></li>
  <li><a data-turbolinks="false" href="#resharing-content">Resharing content</a></li>
  <li><a data-turbolinks="false" href="#embedded-conent">Embedded content</a></li>
  <li><a data-turbolinks="false" href="#searching-content">Searching content</a></li>
  <li><a data-turbolinks="false" href="#liking-content-and-favorites">Liking content and Favorites</a></li>
  <li><a data-turbolinks="false" href="#editing-content">Editing content</a></li>
  <li><a data-turbolinks="false" href="#deleting-content">Deleting content</a></li>
  <li><a data-turbolinks="false" href="#flagging-content">Flagging content</a></li>
</ul>

<h6 id="posts-events-and-photos">{% trans "Posts, events and photos" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  LocalHub has three kinds of content: <strong>Posts</strong>, <strong>Events</strong> and <strong>Photos</strong>. In fact, the last two - Events and Photos - are just special kinds of Posts, and we refer to all three collectively as "Posts". All kinds of posts have a Description field, where you can add rich content using <a href="#markdown">Markdown</a> syntax.
  {% endblocktrans %}
</p>
<ul>
  <li>
    {% blocktrans %}
    <strong>Posts</strong> are the most common form of content. A Post consists of a description or URL to an HTML page or image on the internet. You can optionally provide a title. You can create Posts if you want to link to an article on the web, display an external image e.g. from Imgur or Pinterest, embed a YouTube or Vimeo video, or write a post like you would on Twitter or Facebook. If you post a link to an HTML page and leave out the title, LocalHub will try and fetch the title of the page and insert this into the title for your post automatically.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
    <strong>Events</strong> are posts with a specific future date and (optionally) a location. For example, you might want to let the Community know about a real-world or online meeting, or a concert, bake sale or meetup. If you provide a valid real-world location, LocalHub will display this location in an <a href="">OpenStreetMap [LINK REQUIRED]</a> map.
    {% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}
    <strong>Photos</strong> are uploaded photos and other images (JPEGs and PNGs). You can include some additional info about your photo such as information about the original artist or Creative Commons licensing. If you just want to show an image from a URL, however, you can just use a normal Post and either add the URL in the Link field or use <a href="#">Markdown</a> syntax in the Description field to embed any number of images.
    {% endblocktrans %}
  </li>
</ul>

<h6 id="home-page">{% trans "Home page" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  All content - Posts, Events and Photos - are shown on the <a href="{{ home_page_url }}">home page</a>. By default, all content is shown. As a logged-in user, you can filter this content in your <a href="">settings [LINK REQUIRED]</a> or by blocking <a href="">individual users [LINK REQUIRED]</a> and <a href="">tags [LINK REQUIRED]</a>. If you are not logged in - assuming the Community is public - you will see all content. Content is always shown in order of most recent.
  {% endblocktrans %}
</p>

<h6 id="timeline">{% trans "Timeline" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  The <a href="{{ timeline_url }}">Timeline</a> provides a summarized, time-ordered view of all content. You can also filter by year and month.
  {% endblocktrans %}
</p>

<h6 id="adding-content">{% trans "Adding content" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  You can publish a new Post, Event or Photo from the home page, or selecting <a href="{{ post_create_url }}">Submit Post</a>, <a href="{{ event_create_url }}">Submit Event</a> or <a href="{{ photo_create_url }}">Submit Photo</a> in the Sidebar. Once you have published a post it will be immediately available to the rest of the Community.
  {% endblocktrans %}
</p>

<h6 id="resharing-content">{% trans "Resharing content" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  You can reshare posts published by other members by clicking the Reshare button. Resharing is useful if members are only following certain users, as they may not otherwise see this content - they will see content that is reshared by users they are following, even if they are not following the owner of the original post.
  {% endblocktrans %}
</p>

<h6 id="embedded-content">{% trans "#embedded-content" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  Embedded content here refers to links to certain sites which implement the <a href="">Oembed protocol [LINK REQUIRED]</a>. Examples include links to a YouTube or Vimeo video, Tweet, Facebook post, or Wordpress article. The content is typically embedded in an iframe.
  {% endblocktrans %}
</p>
<p>
  {% blocktrans %}
  By default embedding is disabled if your browser enforces a "Do Not Track" (DNT) policy. If you wish to view embedded content, you can whitelist this site in your browser settings, or (as a logged in user) go to <a href="{{ user_update_url }}">My Settings</a> page and check the "Show embedded content" checkbox.
  {% endblocktrans %}
</p>

<h6 id="searching-content">{% trans "Searching content" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  To find individual posts, just enter your search query in the box in the middle of the Navbar. You will be shown all posts, events and photos matching your query.
  {% endblocktrans %}
</p>
<p>
  {% blocktrans %}
  You can also search specifically for Posts, Events and Photos in their individual pages.
  {% endblocktrans %}
</p>

<h6 id="liking-content-and-favorites">{% trans "Liking content and Favorites" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  You can like any other members' content and comments. If you like a post or comment, the other user will receive a notification that you liked their content (although not if you "unlike" it). You can see all posts and comments you have liked in the <a href="{{ favorites_url }}">Favorites</a> page.
  {% endblocktrans %}
</p>

<h6 id="editing-content">{% trans "Editing content" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  You can edit any of your own posts at any time, just by clicking the "Edit" button on the individual post. <a href="">Moderators [LINK REQUIRED]</a> can also edit other members' posts, for example if they want to add a content sensitive tag to the description.
  {% endblocktrans %}
</p>

<h6 id="deleting-content">{% trans "Deleting content" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  You can delete any of your posts at any time. <a href="">Moderators [LINK REQUIRED]</a> can also delete other members' posts. <strong>Note that if you delete a post, all comments belonging to that post - including those posted by other members - will also be deleted</strong>. If you delete your account, your posts (and subsequently comments) will be automatically deleted, across all Communities. If however you just leave a Community, your posts will not be visible, but will not be permanently deleted. Reshares will not themselves be deleted if the original post is deleted, but the content will be replaced by a note indicating that the original post no longer exists.
  {% endblocktrans %}
</p>

<h6 id="flagging-content">{% trans "Flagging content" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  You can "flag" content you object to if you consider it spam, offensive, in breach of the Community rules, and so on. You can flag any content or comment you do not own. <a href="">Moderators [LINK REQUIRED]</a> will be notified of any flagged content. Flagged posts will be highlighted to Moderators, and they will be able to see individual flags in the detail page of each post or comment. The <a href="{{ flags_url }}">Flags</a> page, available only to Moderators, lists all flagged content across the site. It is up to Moderators how they wish to take action: whether to edit or remove content, escalate to have the offending member removed or suspended, or ignore the flag.
  {% endblocktrans %}
</p>

{% endblock %}

<h6 id="">{% trans "" %}</h6>
<div class="divider"></div>
<p>
  {% blocktrans %}
  {% endblocktrans %}
</p>

