{% load thumbnail %}
{% load account %}
{% thumbnail user.avatar size|default:"16" format="PNG" crop="center" as avatar %}
{% user_display user as username %}
<img src="{{ avatar.url }}"
     width="{{ avatar.width }}"
     height="{{ avatar.height }}"
     alt="{{ username }}"
     class="bg-transparent {{ css_class }}">
{% empty %}
{% if show_placeholder %}
<div class="font-bold align-middle rounded-full text-center bg-indigo-800 text-white {{ css_class }}">
  {{ user.get_initials.0 }}
</div>
{% endif %}
{% endthumbnail %}
