{% load thumbnail %}
{% load account %}
{# TBD: calc h- and w- and size based on t-shirt sizes #}
{% thumbnail user.avatar size|default:"16" crop="center" as avatar %}
{% user_display user as username %}
  <img src="{{ avatar.url }}"
       width="{{ avatar.width }}"
       height="{{ avatar.height }}"
       alt="{{ username }}"
       class="rounded-full {{ css_class }}">
{% empty %}
<div class="inline-block justified-center align-middle text-center p-1 text-xs rounded-full bg-blue-600 text-white {{ css_class }}">{{ initials.0 }}</div>
{% endthumbnail %}
