{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load account %}
{% user_display profile as profile_name %}
{% with object_url=profile_url|default:profile.get_absolute_url %}
<div {% if css_class %}
     class="{{ css_class }}"
     {% endif %}
     data-controller="hovercard"
     data-hovercard-url="{% url 'users:preview' profile.username %}"
     data-hovercard-object-url="{{ object_url }}"
     data-action="mouseenter->hovercard#show mouseleave->hovercard#hide">
  <div class="inline-block hidden"
       data-target="hovercard.container"></div>
  <a class="truncate text-sm"
     href="{{ object_url }}">@{{ profile.username }}</a>
</div>
{% endwith %}
