{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

<div class="notification flex my-2{% if css_class %} {{ css_class }}{% endif %}"
     data-controller="ajax"
     data-ajax-remove>
  <div class="mx-auto text-center px-2">
    {{ dismissable_content }}
  </div>
  {% if user.is_authenticated %}
  <button data-target="ajax.button"
          data-ajax-url="{% url 'dismiss_notice' notice %}"
          data-action="ajax#post"
          class="">
    {% svg "x_circle" "white" %}
  </button>
  {% endif %}
</div>
