{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% if is_following %}
<a href="{% url 'users:unfollow' object.username %}"
   data-turbolinks="false"
   class="line-through"
   data-target="ajax.button"
   data-action="ajax#post">
  {% trans "Follow" %}
</a>
{% else %}
<a href="{% url 'users:follow' object.username %}"
   data-turbolinks="false"
   data-target="ajax.button"
   data-action="ajax#post">
  {% trans "Follow" %}
</a>
{% endif %}
