{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}

{% with nav_item_class=is_table|yesno:"table-nav-item,page-nav-item" %}
<div class="{{ is_table|yesno:"table-nav,page-nav" }} {{ css_class }}">
  {% if member.member == user %}
  <a class="{{ nav_item_class }}"
     href="{% url 'user_update' %}">
    {% trans "Settings" %}
  </a>
  {% else %}
  {% if can_change or can_delete %}
  <a class="{{ nav_item_class }}"
     href="{% url 'private_messages:message_create_recipient' member.member.username %}">
    {% trans "Send Message" %}
  </a>
  {% if can_change %}
  <a class="{{ nav_item_class }}"
     href="{% url 'communities:membership_update' member.id %}">
    {% trans "Edit" %}
  </a>
  {% endif %}
  {% if can_delete %}
  <a class="{{ nav_item_class }}"
     href="{% url 'communities:membership_delete' member.id %}"
     data-turbolinks="false"
     data-controller="ajax"
     data-action="ajax#post"
     data-ajax-confirm-header="{% trans 'Delete' %}"
     data-ajax-confirm-body="{% trans 'Are you sure you want to delete this membership?' %}">{% trans "Delete" %}</a>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endwith %}
</div>
