{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "comments/base.html" %}

{% load i18n %}
{% load activities %}
{% load comments %}

{% block subtitle %}{{ block.super }}
{% if content_object %} / {{ content_object }}{% endif %}
{% if parent %} / {% trans "Reply "%}
{% elif object %} / {% trans "Edit" %}
{% else %} / {% trans "Comment" %}{% endif %}{% endblock %}

{% block content %}

<ul class="breadcrumbs mb-3">
  {% if parent %}
  <li class="breadcrumb-item"><a href="{% url 'comments:list' %}">{% trans "Comments" %}</a></li>
  <li class="breadcrumb-item"><a href="{{ parent.get_absolute_url }}">{% trans "Parent" %}</a></li>
  <li class="breadcrumb-item">{% trans "Reply" %}</li>
  {% elif object %}
  <li class="breadcrumb-item"><a href="{% url 'comments:list' %}">{% trans "Comments" %}</a></li>
  <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{% trans "Comment" %}</a></li>
  <li class="breadcrumb-item">{% trans "Edit" %}</li>
  {% elif content_object %}
  <li class="breadcrumb-item"><a href="{{ content_object.get_absolute_url }}">{{ content_object|truncatechars:60 }}</a>
  </li>
  <li class="breadcrumb-item">{% trans "Comment" %}</li>
  {% endif %}
</ul>

{% if content_object %}
{% render_activity request user content_object is_detail=True css_class="mb-3" %}
{% endif %}

{% if parent %}
{% render_comment request user parent is_detail=True css_class="mb-3" %}
{% endif %}

{% include "includes/forms/ajax_form.html" with form_id="comment-form" %}

{% endblock content %}
