{% extends "users/profile_base.html" %}
{% load i18n %}
{% block profile_content %}

{% if num_likes %}
<p class="mt-2">
{% if profile == user %}
{% blocktrans count counter=num_likes %}
You have received a total of <strong>1 like</strong> for your comments.
{% plural %}
You have received a total of <strong>{{ num_likes }} likes</strong> for your comments.
{% endblocktrans %}
{% else %}
{% blocktrans count counter=num_likes %}
This user has received <strong>1 like</strong> for their comments.
{% plural %}
This user has received <strong>{{ num_likes }} likes</strong> for their comments.
{% endblocktrans %}
{% endif %}
</p>
{% endif %}


{% for comment in object_list %}
<div class="mt-2">
    {% include "comments/includes/comment.html" %}
</div>
{% empty %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-user"></i>
    </div>
    <p class="empty-title h5">
        {% if profile == user %}
        {% trans "You haven't posted anything yet" %}
        {% else %}
        {% trans "This user hasn't posted anything yet" %}
        {% endif %}
    </p>
</div>
{% endfor %}

{% include "includes/pagination.html" %}
{% endblock profile_content %}
