{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/base.html" %}
{% load i18n %}
{% load rules %}
{% load thumbnail %}

{% block subtitle %} / {% trans "Photos" %} / {% trans "Gallery" %}{% endblock %}

{% block content %}

<div class="flex-wrap lg:flex items-center lg:justify-between mb-3 border-b border-gray-500 pb-2">

  <h1 class="page-header">{% trans "Gallery" %}</h1>
  <div class="page-nav mt-3 lg:mt-0">
    {% has_perm 'activities.create_activity' user community as can_create_activity %}
    {% if can_create_activity %}
    <a class="page-nav-item"
       href="{% url 'photos:create' %}">
      {% trans "Submit Photo" %}
    </a>
    {% endif %}
    <a class="page-nav-item"
       href="{% url 'photos:list' %}">{% trans "Photos" %}</a>
  </div>
</div>

{% if page_obj.number > 1 %}
{% include "includes/pagination.html" with css_class="mt-1 mb-3" %}
{% endif %}

{% if object_list %}
<div class="flex flex-wrap justify-between">
  {% for photo in object_list %}
  <div class="mb-3">
    <a href="{{ photo.get_absolute_url }}"
       title="{{ photo.title }}">
      {% if photo.image|is_portrait %}
      {% thumbnail photo.image "500x300" upscale=False crop="top" as image %}
      {% include "photos/includes/image.html" with title=photo.title %}
      {% endthumbnail %}
      {% else %}
      {% thumbnail photo.image "500" upscale=False as image %}
      {% include "photos/includes/image.html" with title=photo.title %}
      {% endthumbnail %}
      {% endif %}
    </a>
  </div>
  {% endfor %}
</div>
{% else %}
{% include "includes/empty.html" %}
{% endif %}

{% include "includes/pagination.html" with css_class="mt-3" %}

{% endblock %}
