{% extends "activities/base.html" %}
{% load i18n %}
{% load rules %}
{% block subtitle %} - {% trans "Photos" %}{% endblock %}
{% block content %}
{% has_perm 'activities.create_activity' user community as can_create_activity %}
{% if can_create_activity %}
<div class="float-right">
  <a href="{% url 'photos:create' %}" class="btn btn-sm">
    {% trans "Submit Photo" %}
  </a>
</div>
<div class="clearfix"></div>

{% elif user.is_authenticated %}
<p class="toast text-center my-2">
  {% url 'join_requests:create' as join_request_url %}
  {% blocktrans %}You do not have permission to submit photos to this site. You can send a request to join this community <a href="{{ join_request_url }}">here</a>.{% endblocktrans %}
</p>

{% else %}
<p class="toast text-center my-2">
  {% url 'account_login' as login_url %}
  {% blocktrans %}Please <a href="{{ login_url }}?next={{ request.get_full_path }}">sign in</a> to submit photos to this site.{% endblocktrans %}
</p>
{% endif %}

{% include "activities/includes/search_form.html" %}

{% for photo in object_list %}
<div class="mt-2">
  {% include "photos/includes/photo.html" %}
</div>
{% empty %}
<div class="empty mt-2">
  <p class="empty-title h5">
    {% if view.search_query %}
    {% trans "No photos have been found matching your search." %}
    {% else %}
    {% trans "No photos have been submitted." %}
    {% endif %}
  </p>
</div>
{% endfor %}
{% include "includes/pagination.html" %}
{% endblock content %}
