{% extends "help_pages/content.html" %}
{% load i8n %}
{% block help_content %}
<ul>
  <li><a href="">Posts, events and photos</a></li>
  <li><a href="">Home page</a></li>
  <li><a href="">Timeline</a></li>
  <li><a href="">Adding new content</a></li>
  <li><a href="">Resharing content</a></li>
  <li><a href="">Introduction to Markdown</a></li>
  <li><a href="">Who can see my content?</a></li>
  <li><a href="">Tagging</a></li>
  <li><a href="">Content sensitive tags</a></li>
  <li><a href="">Following tags</a></li>
  <li><a href="">Blocking tags</a></li>
  <li><a href="">@Mentions</a></li>
  <li><a href="">Embedded content</a></li>
  <li><a href="">Searching content</a></li>
  <li><a href="">Editing content</a></li>
  <li><a href="">Deleting content</a></li>
  <li><a href="">Flagging content</a></li>
  <li><a href="">Liking content</a></li>
</ul>
{% endblock %}
