{% extends "private_messages/base.html" %}

{% load i18n %}
{% load account %}
{% load rules %}
{% load form_tags %}
{% load private_messages_tags %}

{% block content %}

<h3>{% trans "Messages" %}</h3>

<div class="actions">
    <a href="{% url 'private_messages:inbox' %}">{% trans "Inbox" %}</a>
    <a href="{% url 'private_messages:outbox' %}">{% trans "Outbox" %}</a>
    {% if previous_message %}
    <a href="{{ previous_message.get_absolute_url }}">{% trans "Previous" %}</a>
    {% endif %}
    {% if next_message %}
    <a href="{{ next_message.get_absolute_url }}">{% trans "Next" %}</a>
    {% endif %}
    {% has_perm "private_messages.create_message" user community as can_create_message %}
    {% if can_create_message %}
    {% user_display other_user as other_user_name %}
    <a href="{% url 'private_messages:message_create' other_user.username %}">{% trans "Send Message" %}</a>
    {% endif %}
</div>

<div class="divider"></div>
{% show_message user message is_detail=True %}
{% endblock content %}
