{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "private_messages/base.html" %}

{% load i18n %}
{% load account %}
{% load private_messages %}

{% block subtitle %}{% if recipient %} / {% user_display recipient %}{% endif %} /
{{ parent|yesno:_("Reply,Send Message") }} {% endblock %}

{% block content %}

{% if parent or recipient %}
<ul class="breadcrumbs mb-3">
  {% if parent %}
  <li class="breadcrumb-item"><a href="{{ parent.get_absolute_url }}">{% trans "Parent" %}</a></li>
  <li class="breadcrumb-item">
    <a href="#">
      {% if parent.sender == user %}{% trans "Follow-Up" %}{% else %}{% trans "Reply" %}{% endif %}
    </a>
  </li>
  {% elif recipient %}
  <li class="breadcrumb-item"><a href="{% url 'users:messages' recipient.username %}">{% user_display recipient %}</a>
  </li>
  <li class="breadcrumb-item">
    {% trans "Send Message" %}
  </li>
  {% endif %}
</ul>
{% endif %}

{% if parent %}
{% render_message request user parent is_detail=True %}
{% else %}
<h1 class="page-header mb-3">{% trans "Send Message" %}</h1>
{% endif %}

{% include "includes/forms/ajax_form.html" %}


{% endblock %}
