{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "private_messages/base.html" %}

{% load i18n %}
{% load rules %}
{% load private_messages %}

{% block content %}

{% has_perm "private_messages.create_message" user community as can_create_message %}

<div class="flex-wrap lg:flex items-center lg:justify-between mb-3">
  <h1 class="page-header mb-3">{% trans "Messages" %}</h1>


  {% if can_create_message %}
  <div class="page-nav mt-3 lg:mt-0">
    <a class="page-nav-item"
       href="{% url 'private_messages:message_create' %}">{% trans "Send Message "%} </a>
  </div>
  {% endif %}

</div>
{% with search=view.search_query %}
<div class="tabs text-sm">
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'private_messages:inbox' %}{% if search %}?q={{ search }}{% endif %}">{% trans "Inbox" %}</a>
  <a class="tab-item"
     data-controller="active-link"
     data-active-link-exact
     href="{% url 'private_messages:outbox' %}{% if search %}?q={{ search }}{% endif %}">{% trans "Outbox" %}</a>
</div>
{% endwith %}

{% block message_list %}{% endblock %}

{% endblock content %}
