{% extends "private_messages/base.html" %}

{% load i18n %}
{% load account %}
{% load rules %}
{% load private_messages %}

{% block content %}

<div class="flex-wrap lg:flex items-center lg:justify-between mb-3">
  {% if parent %}
  <ul class="breadcrumbs">
    <li class="breadcrumb-item">
      <a href="{{ parent.get_absolute_url }}">{% trans "Parent" %}</a>
    </li>
    <li class="breadcrumb-item">{% trans "Message" %}</li>
  </ul>
  {% endif %}

  {% has_perm "private_messages.create_message" user community as can_create_message %}

  <div class="page-nav mt-3 lg:mt-0">
    <a class="page-nav-item"
       href="{% url 'private_messages:inbox' %}">{% trans "Inbox" %}</a>
    <a class="page-nav-item"
       href="{% url 'private_messages:outbox' %}">{% trans "Outbox" %}</a>
    {% if can_create_message %}
    <a class="page-nav-item"
       href="{% url 'private_messages:message_create_recipient' other_user.username %}">
      {% user_display other_user as other_user_name %}
      {% blocktrans %}
      Send Message to {{ other_user_name }}
      {% endblocktrans %}
    </a>
    {% endif %}
  </div>
</div>

{% render_message request user message is_detail=True %}
{% for reply in replies %}
{% render_message request user reply conversation=message %}
{% endfor %}
{% endblock content %}
