beautifulsoup4
bleach
boto3
celery
dj-database-url
django
django-allauth
django-anymail[mailgun]
django-celery-email
django-configurations
django-countries
django-extensions
django-markdownx
django-model-utils
django-redis
django-storages
django-taggit
django-timezone-field
django-widget-tweaks
geopy
gunicorn
icalendar
ipython
micawber
pillow
psycopg2-binary
pymdown-extensions
pyopenssl
pytz
pywebpush
redis
rules
sorl-thumbnail
unidecode
werkzeug
