beautifulsoup4
bleach
boto3
celery
dj-database-url
django
django-allauth
django-celery-email
django-configurations
django-countries
django-extensions
django-markdownx
django-model-utils
django-redis
django-storages
django-taggit
django-timezone-field
django-widget-tweaks
factory-boy
geopy
icalendar
micawber
pillow
psycopg2-binary
pymdown-extensions
pyopenssl
pytest
pytest-cov
pytest-django
pytest-mock
pytest-xdist
pytz
pywebpush
redis
rules
sorl-thumbnail
unidecode
werkzeug
