{% extends "users/base.html" %}
{% load i18n %}
{% block user_content %}

{% if num_likes %}
<div class="mt-2 toast text-center">
{% if is_auth_user %}
{% blocktrans count counter=num_likes %}
You have received a total of <strong>1 like</strong> for your posts.
{% plural %}
You have received a total of <strong>{{ num_likes }} likes</strong> for your posts.
{% endblocktrans %}
{% else %}
{% blocktrans count counter=num_likes %}
This user has received <strong>1 like</strong> for their posts.
{% plural %}
This user has received <strong>{{ num_likes }} likes</strong> for their posts.
{% endblocktrans %}
{% endif %}
</div>
{% endif %}

{% for activity in object_list %}
<div class="mt-2">
  {% include "activities/includes/activity.html" %}
</div>
{% empty %}
<div class="empty">
  <div class="empty-icon">
    <i class="icon icon-user"></i>
  </div>
  <p class="empty-title h5">
      {% if is_auth_user %}
      {% trans "You haven't posted anything yet" %}
      {% else %}
      {% trans "This user hasn't posted anything yet" %}
      {% endif %}
  </p>
</div>
{% endfor %}

{% include "includes/pagination.html" %}
{% endblock user_content %}
