{% extends "base.html" %}
{% load i18n %}

{% block title %}@{{ user.username }}{% endblock %}

{% block content %}
<div class="container">
  <div class="columns">
    <div id="user-main-panel" class="column col-9 col-sm-12">
      <div class="show-sm hide-md float-right">
        <a href="#"
           class="btn btn-link"
           data-toggle="#user-sidebar,#user-main-panel"
           data-toggle-class="hide-sm">{% trans "Sidebar" %}</a>
      </div>
      <div class="clearfix"></div>
      {% block users_content %}{% endblock %}
    </div>
    <div id="user-sidebar" class="column col-3 col-sm-12 hide-sm bg-gray p-2">
      <a href="#"
         class="btn btn-link show-sm hide-md"
         data-toggle="#user-sidebar,#user-main-panel"
         data-toggle-class="hide-sm">{% trans "Close Sidebar" %}</a>
      <ul class="menu">
        <li class="menu-item">
          <a href="{% url 'users:update' %}">{% trans "Edit profile" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'account_email' %}">{% trans "Email addresses" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'users:delete' %}" class="text-warning">{% trans "Delete account" %}</a>
        </li>
      </ul>
    </div>
  </div>
  {% endblock %}
