{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% load i18n %}
{% load account %}
{% load users %}

<div class="absolute bg-white shadow-lg rounded border px-3 py-1">
  <div class="flex flex-wrap items-center mb-2">
    {% if user_obj.avatar %}
    <div class="inline-block mr-3">
      {% avatar user_obj "64" css_class="mr-1" show_placeholder=False %}
    </div>
    {% endif %}
    {% user_display user_obj as display_name %}
    <div>
      <a class="inline-block mr-3 text-lg"
         href="{{ object_url }}">
        {% if user_obj.username == display_name %}
        @{{ display_name }}
        {% else %}
        {{ display_name }}
        (@{{ user_obj.username }})
        {% endif %}
      </a>
      <div>
        <span class="inline-block tag mr-3">{{ user_obj.role_display }}</span>
      </div>
    </div>
  </div>
</div>
