{% extends "activities/base.html" %}
{% load i18n %}
{% load account %}
{% load users_tags %}

{% block subtitle %}
{% user_display object as profile_name %} - {{ profile_name }}
{% endblock %}

{% block activities_sidebar %}

{% if user == profile %}
{% include "users/includes/settings_sidebar.html" %}
{% else %}
{{ block.super }}
{% endif %}

{% endblock activities_sidebar %}

{% block activities_content %}

{% user_display object as profile_name %}

<h3>{% avatar profile "avatar-lg" %}{{ profile_name }}</h3>

<ul class="tab tab-block">
  <li class="tab-item" data-controller="active-link">
    <a data-target="active-link.match"
       href="{% url 'users:detail' object.username %}">{% trans "About" %}</a>
  </li>
  <li class="tab-item" data-controller="active-link">
    <a data-target="active-link.match"
       href="{% url 'activities:profile' object.username %}">{% trans "Posts" %}</a>
  </li>
  <li class="tab-item" data-controller="active-link">
    <a data-target="active-link.match"
       href="{% url 'comments:profile' object.username %}">{% trans "Comments" %}</a>
  </li>
</ul>

{% block profile_content %}{% endblock %}
{% endblock activities_content %}
