{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "users/account_base.html" %}

{% load i18n %}
{% load socialaccount %}
{% load rules %}
{% load users %}

{% block subtitle %} / {% trans "Settings" %}{% endblock %}

{% block content %}

<div class="flex flex-wrap items-center justify-between w-full mb-3">

  <h1 class="page-header">{% trans "Settings" %}</h1>

  <div class="text-sm"
       data-controller="dropdown"
       data-action="click@window->dropdown#close keydown@window->dropdown#close">
    <button class="btn btn-dropdown"
            data-action="dropdown#toggle">
      {% trans "More Settings..." %}
    </button>
    <div class="dropdown-menu mt-1 hidden"
         data-target="dropdown.menu">
      {% has_perm "communities.manage_community" user community as can_manage_community %}

      {% if can_manage_community %}
      <a class="dropdown-menu-item"
         href="{% url 'communities:community_update' %}">{% trans "Community Settings" %}</a>
      {% endif %}

      <a class="dropdown-menu-item"
         href="{% url 'account_email' %}">{% trans "Email Addresses" %}</a>
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      <a class="dropdown-menu-item"
         href="{% url 'socialaccount_connections' %}">{% trans "Social Logins" %}</a>
      {% endif %}
      <a class="dropdown-menu-item"
         href="{% url 'account_change_password' %}">{% trans "Change Password" %}</a>
      <a class="dropdown-menu-item"
         href="{% url 'user_delete' %}">{% trans "Delete Account" %}</a>
    </div>
  </div>
</div>
{% include "users/includes/user_form.html" with submit_btn=_("Save Settings") %}
{% endblock content %}
