{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load rules %}
{% load users %}

{% block subtitle %} / {% user_display user_obj %} / {% trans "Mentions" %}{% endblock %}

{% block content %}

<h1 class="page-header">{% trans "Mentions" %}</h1>

<ul class="tab tab-block">
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'users:activity_mentions' user_obj.username %}">{% trans "Activities" %}</a>
  </li>
  <li class="tab-item"
      data-controller="active-link"
      data-active-link-exact>
    <a data-target="active-link.match"
       href="{% url 'users:comment_mentions' user_obj.username %}">{% trans "Comments" %}</a>
  </li>
</ul>
{% block mentions_content %}{% endblock %}
{% endblock %}
