{% extends "activities/base.html" %}
{% load i18n %}
{% load rules %}

{% block subtitle %} | {% trans "Events" %}{% endblock %}

{% block content %}
<h3>{% trans "Events" %}</h3>

{% has_perm 'activities.create_activity' user community as can_create_activity %}
{% if can_create_activity %}
<div class="actions">
  <a href="{% url 'events:create' %}">
    {% trans "Submit Event" %}
  </a>
</div>

{% elif user.is_authenticated %}
<p class="toast text-center my-1">
  {% url 'join_requests:create' as join_request_url %}
  {% blocktrans %}You do not have permission to submit events to this site. You can send a request to join this community <a href="{{ join_request_url }}">here</a>.{% endblocktrans %}
</p>

{% else %}
<p class="toast text-center my-1">
  {% url 'account_login' as login_url %}
  {% blocktrans %}Please <a href="{{ login_url }}?next={{ request.get_full_path }}">sign in</a> to submit events to this site.{% endblocktrans %}
</p>

{% endif %}

<div class="divider"></div>

{% if paginator.count or view.search_query %}
{% include "includes/search_form.html" %}
{% endif %}

{% for object in object_list %}
<div class="mt-1">
  {% include "events/includes/event.html" with object_type="event" %}
</div>
{% empty %}
{% include "includes/empty.html" %}
{% endfor %}


{% include "includes/pagination.html" %}
{% endblock content %}
