{% extends "activities/base.html" %}
{% load i18n %}

{% block activities_content %}
{% include "activities/includes/breadcrumbs.html" %}

<form method="POST" action="{{ request.path }}" data-controller="form" data-action="form#submit">
  {% if view.next_url %}
  <input type="hidden" name="next" value="{{ view.next_url }}">
  {% endif %}
  {% include "includes/forms/fields.html" %}
  <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
</form>
{% endblock activities_content %}
