{# Copyright (c) 2020 by Dan Jacob #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends "activities/activity_detail.html" %}

{% load i18n %}

{% block breadcrumbs %}
{% if object.published %}
{% with starts=event.get_next_start_date %}
<ul class="breadcrumbs">
  <li class="breadcrumb-item">
    <a href="{% url 'events:list' %}">{% trans "Events" %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'events:calendar' %}?month={{ starts.month }}&year={{ starts.year }}">
      {{ starts|date:"F Y" }}
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'events:calendar' %}?day={{ starts.day }}&month={{ starts.month }}&year={{ starts.year }}">
      {{ starts|date:"d F Y" }}
    </a>
  </li>
  <li class="breadcrumb-item">
    {{ object.title|truncatechars:60 }}
  </li>
</ul>
{% endwith %}
{% else %}
{{ block.super }}
{% endif %}
{% endblock breadcrumbs %}
